.mat-elevation-z10 {
  z-index: 10;
}

.mat-elevation-z9 {
  z-index: 9;
}

.mat-elevation-z8 {
  z-index: 8;
}

.mat-elevation-z7 {
  z-index: 7;
}

.mat-elevation-z6 {
  z-index: 6;
}

.mat-elevation-z5 {
  z-index: 5;
}

.mat-elevation-z4 {
  z-index: 4;
}

.mat-elevation-z3 {
  z-index: 3;
}

.mat-elevation-z2 {
  z-index: 2;
}

.mat-elevation-z1 {
  z-index: 1;
}
