@use '@angular/material' as mat;
@import 'framing';
@import '_color';

.form-field-container {
  @extend .flex-column;

  .mat-form-field {
    margin-bottom: 0.75rem;
  }

  .mat-hint {
    a,
    a:visited {
      color: map_get($mat-vc-teal, 500);
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    a:active {
      color: map_get($mat-vc-teal, 700);
    }
  }
}

.form-actions {
  margin-top: 1.5rem;
  display: flex;
}

.mat-form-field-label mat-label {
  display: inline-flex;

  .mat-icon {
    opacity: 0.8;
    font-size: 0.8em;
  }
}

.edit-multi-select-list-options,
.edit-multi-select-list-options.mat-active {
  font-weight: 500;
  color: map_get(mat.$blue-palette, 500);

  .mat-option-pseudo-checkbox {
    display: none;
  }
}
