.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-_5 {
  flex: 0.5;
  min-width: 0;
  min-height: 0;
}

.flex-_75 {
  flex: 0.75;
  min-width: 0;
  min-height: 0;
}

.flex-1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.flex-2 {
  flex: 2;
  min-width: 0;
  min-height: 0;
}

.flex-3 {
  flex: 3;
  min-width: 0;
  min-height: 0;
}

.flex-4 {
  flex: 4;
  min-width: 0;
  min-height: 0;
}

.padding-24 {
  padding: 1.5rem;
}

.padding-20 {
  padding: 1.25rem;
}

.padding-16 {
  padding: 1rem;
}

.padding-12 {
  padding: 0.75rem;
}

.padding-8 {
  padding: 0.5rem;
}

.padding-4 {
  padding: 0.25rem;
}

@mixin vertical-padding($property) {
  padding-top: $property;
  padding-bottom: $property;
}

.vertical-padding-24 {
  @include vertical-padding(1.5rem);
}

.vertical-padding-20 {
  @include vertical-padding(1.25rem);
}

.vertical-padding-16 {
  @include vertical-padding(1rem);
}

.vertical-padding-12 {
  @include vertical-padding(0.75rem);
}

.vertical-padding-8 {
  @include vertical-padding(0.5rem);
}

.vertical-padding-4 {
  @include vertical-padding(0.25rem);
}

.vertical-padding-0 {
  @include vertical-padding(0);
}

@mixin side-padding($property) {
  padding-left: $property;
  padding-right: $property;
}

.side-padding-24 {
  @include side-padding(1.5rem);
}

.side-padding-20 {
  @include side-padding(1.25rem);
}

.side-padding-16 {
  @include side-padding(1rem);
}

.side-padding-12 {
  @include side-padding(0.75rem);
}

.side-padding-8 {
  @include side-padding(0.5rem);
}

.side-padding-4 {
  @include side-padding(0.25rem);
}

.side-padding-0 {
  @include side-padding(0);
}

.margin-24 {
  margin: 1.5rem;
}

.margin-20 {
  margin: 1.25rem;
}

.margin-16 {
  margin: 1rem;
}

.margin-12 {
  margin: 0.75rem;
}

.margin-8 {
  margin: 0.5rem;
}

.margin-4 {
  margin: 0.25rem;
}

@mixin vertical-margin($property) {
  margin-top: $property;
  margin-bottom: $property;
}

.vertical-margin-24 {
  @include vertical-margin(1.5rem);
}

.vertical-margin-20 {
  @include vertical-margin(1.25rem);
}

.vertical-margin-16 {
  @include vertical-margin(1rem);
}

.vertical-margin-12 {
  @include vertical-margin(0.75rem);
}

.vertical-margin-8 {
  @include vertical-margin(0.5rem);
}

.vertical-margin-4 {
  @include vertical-margin(0.25rem);
}

.vertical-margin-0 {
  @include vertical-margin(0);
}

@mixin side-margin($property) {
  margin-left: $property;
  margin-right: $property;
}

.side-margin-24 {
  @include side-margin(1.5rem);
}

.side-margin-20 {
  @include side-margin(1.25rem);
}

.side-margin-16 {
  @include side-margin(1rem);
}

.side-margin-12 {
  @include side-margin(0.75rem);
}

.side-margin-8 {
  @include side-margin(0.5rem);
}

.side-margin-4 {
  @include side-margin(0.25rem);
}

.side-margin-0 {
  @include side-margin(0);
}
