@use '@angular/material' as mat;
@import 'framing';
@import '_color';

router-outlet + * {
  @extend .flex-column;
  @extend .flex-1;
  overflow-y: auto;
}

.mat-drawer-content.mat-sidenav-content {
  @extend .flex-column;
}

.cdk-overlay-container {
  .mat-tooltip-panel {
    .mat-tooltip {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.sw-spinner {
  animation: three-quarters 1.25s infinite linear;
  border: 3px solid map_get(mat.$blue-palette, 500);
  border-right-color: transparent;
  border-radius: 100%;
  display: inline-flex;
  width: 0.75rem;
  height: 0.75rem;
  transition: margin 0.4s ease-out, opacity 0.2s ease-out;
}

@keyframes three-quarters {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.command-palet {
  background-color: map_get(mat.$deep-purple-palette, 300);
}

.cdk-overlay-pane {
  .mat-dialog-container {
    @extend .flex-column;
  }
}

.mat-snack-bar-handset {
  width: initial !important;
}

.datepicker-button {
  min-width: 250px;

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 1rem;
  }
}

.filter-bar {
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid map_get(mat.$blue-grey-palette, 100);
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option.mat-active {
  background-color: map_get(mat.$yellow-palette, 300);
}

/** sw-is-loading-spinner */

body {
  .mat-button,
  .mat-raised-button {
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
  }
}

.mat-button,
.mat-raised-button {
  .mat-button-wrapper {
    margin: 0 1rem;
    flex-grow: 0;
  }
}

.sw-is-loading-spinner {
  @extend .sw-spinner;
  margin-left: -22px;
  opacity: 0;
}

.sw-is-loading {
  .sw-is-loading-spinner {
    transition: margin 0.2s ease-in, opacity 0.4s ease-in;
    margin-left: unset;
    margin-right: 1rem;
    opacity: 1;
  }
}

.warn.sw-is-loading-spinner {
  border-color: map_get(mat.$red-palette, 500);
  border-right-color: transparent;
}

.mat-chip-dark-bg {
  color: white;

  .mat-chip-remove {
    color: white;
  }
}

.clickable:hover {
  cursor: pointer;
  background: map_get(mat.$blue-grey-palette, 50);
}
