@import 'framing';
@import '_color';

#app-menu-outlet + * {
  @extend .flex-center;

  font-size: 1.5rem;
}

.app-header {
  .mat-button.sw-is-loading {
    background-color: map_get($mat-vc-teal, 100);
    color: map_get($mat-vc-teal, 900);

    .sw-is-loading-spinner {
      border-color: map_get($mat-vc-teal, 600);
      border-right-color: transparent;
    }
  }
}
