@import 'framing';
@import '_color';

.mat-table {
  overflow-y: auto;
  flex: 1;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 3;

  .mat-row:last-child {
    // this allows you to "scroll past" the last row which
    // might be necessary for viewing purposes if there is
    // something hovering at the bottom of the screen.
    margin-bottom: 7rem;
  }
}

.mat-cell:not(:first-child):not(:last-child),
.mat-header-cell:not(:first-child):not(:last-child) {
  @extend .side-padding-8;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
}

.anchor-row:hover {
  cursor: pointer;
  background-color: map_get($mat-vc-teal, 50);
}

.anchor-row:focus {
  outline: none;
}
