@use '@angular/material' as mat;
@import 'framing';

.profile-component {
  @extend .padding-12;

  .mat-card {
    @extend .margin-12;
  }
}

.profile .mat-card-content,
.profile-body {
  column-width: 200px;
  column-gap: 1.5rem;

  & > div {
    @extend .vertical-margin-24;
    break-inside: avoid;

    p {
      margin: 0;
    }

    .label {
      margin-bottom: 0.5rem;
    }

    ul,
    ol {
      padding-inline-start: 1rem;
    }

    &.warn {
      .label {
        color: map_get(mat.$red-palette, 500);
      }
    }
  }

  div:first-child {
    margin-top: 0;
  }

  div:last-child {
    margin-bottom: 0;
  }

  .mat-checkbox-label {
    font-weight: 700;
  }
}

.profile.warn,
.profile.warn.mat-card {
  background-color: map_get(mat.$red-palette, 50);
  box-shadow: none;

  .mat-card-title {
    color: map_get(mat.$red-palette, 500);
  }
}

.info,
.info.mat-card {
  background-color: map_get(mat.$yellow-palette, 200);
  box-shadow: none;

  .mat-card-title {
    display: flex;
    align-items: center;
    color: map_get(mat.$yellow-palette, 900);

    .mat-icon {
      margin-right: 1rem;
    }
  }

  .mat-stroked-button {
    margin-right: 1rem;
  }

  .mat-stroked-button:last-child {
    margin-right: 0;
  }
}

.profile-actions {
  display: flex;

  .mat-card {
    flex: 1;
    padding: 0;
  }

  .mat-card-content {
    @extend .flex-center;
  }

  .mat-button {
    flex: 1;
    height: 50px;
    justify-content: center;
  }
}

.profile-map {
  .mat-card-content {
    @extend .flex-center;
  }

  app-iframe {
    flex: 1;
    height: 20rem;
    border: 0;
  }
}
