@use '@angular/material' as mat;
@import '_color';
@import 'framing';

.app-sidebar {
  @extend .flex-column;
  height: 100%;

  .mat-button {
    border-radius: 0;

    .mat-button-wrapper {
      padding: 1rem;
      display: block;
      margin: 0;
    }

    &.active {
      background-color: map_get(mat.$yellow-palette, 600);
      color: map_get(mat.$blue-grey-palette, 800);
    }

    &.sw-is-loading {
      .sw-is-loading-spinner {
        display: none;
      }
    }
  }

  .user-box {
    background-color: map_get($mat-vc-teal, 800);

    h5 {
      margin: 0;
    }

    h3 {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }
}
