/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import '_color';
@import 'material-theme';
@import 'general';
@import 'framing';
@import 'fonts';
@import 'elevation';
@import 'forms';
@import 'profile';
@import 'mat-table';
@import 'header';
@import 'sidebar';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.mat-button,
.mat-raised-button {
  text-transform: uppercase;
}

.mat-drawer.mat-drawer-side {
  background-color: map_get(mat.$blue-grey-palette, 800);
  color: white;
}
