<div
  *ngIf="'ride-requests' | swIsLoading | async; else loaded"
  class="flex-center"
  style="flex: 1"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #loaded>
  <mat-card
    *ngIf="rideRequestsViewService.mapView$ | async; else tableView"
    style="flex: 1"
  >
    <google-map
      width="100%"
      height="100%"
      [center]="{ lat: 36.977243, lng: -121.901571 }"
      [zoom]="12"
      [options]="{
        disableDefaultUI: true,
        zoomControl: true
      }"
    >
      <map-marker
        #marker="mapMarker"
        *ngFor="let request of rideRequests"
        [position]="{
          lat: request.pickupAddress.latitude,
          lng: request.pickupAddress.longitude
        }"
        (mapClick)="openInfoWindow(marker, request)"
      ></map-marker>

      <map-info-window>
        <app-display-tags
          *ngIf="selectedRequestOnMap"
          label="
          {{
            selectedRequestOnMap.flexible
              ? (selectedRequestOnMap.datetime | flexibleDatetime)
              : (selectedRequestOnMap.datetime | date: 'shortDate')
          }}
          {{ selectedRequestOnMap.recurringRideRequestId && '(R)' }}
          for 
          {{ selectedRequestOnMap.client.nameWithRetiredStatus }}
          "
          labelHref="/dispatcher/ride-request/{{
            selectedRequestOnMap.uid
          }}/overview"
          [tags]="selectedRequestOnMap.client.customTags"
          [tagIds]="selectedRequestOnMap.client.tagIds"
          style="margin: 0"
        ></app-display-tags>
      </map-info-window>
    </google-map>
  </mat-card>

  <ng-template #tableView>
    <mat-table
      [dataSource]="rideRequests"
      matSort
      [matSortActive]="sortBy"
      [matSortDirection]="sortDir"
      appMatSortRouterSync
      [trackBy]="trackBy"
      swScrollPosition="ride-requests"
    >
      <!-- - Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="selected">
        <mat-header-cell *matHeaderCellDef class="flex-_75">
          Select
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="flex-_75">
          <mat-checkbox
            [checked]="rideRequestsViewService.isRideRequestSelected(row.uid)"
            (click)="rideRequestsViewService.stopEventPropagation($event)"
            (change)="rideRequestsViewService.requestSelected(row)"
            color="primary"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-2">
          Date
        </mat-header-cell>

        <mat-cell *matCellDef="let row" class="flex-2">
          <span
            class="truncate-text"
            matTooltip="{{
              row.flexible
                ? 'Week of ' +
                  (row.datetime | flexibleDatetime) +
                  '. ' +
                  row.flexibleSchedule
                : (row.datetime | date: 'fullDate')
            }}"
            [matTooltipShowDelay]="500"
          >
            {{
              row.flexible
                ? (row.datetime | flexibleDatetime)
                : (row.datetime | date: 'shortDate')
            }}
            {{ row.recurringRideRequestId && '(R)' }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Time</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            matTooltip="{{
              row.flexible
                ? row.flexibleSchedule
                : (row.datetime | date: 'shortTime')
            }}"
            [matTooltipShowDelay]="500"
          >
            {{ row.flexible ? 'flexible' : (row.datetime | date: 'shortTime') }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Priority
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            matTooltip="{{
              row.requestCancelledAt ? 'CANCELLED' : row.priority
            }}"
            [matTooltipShowDelay]="500"
          >
            {{ row.requestCancelledAt ? 'CANCELLED' : row.priority }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tag">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Tag
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            matTooltip="{{ row.category }}"
            [matTooltipShowDelay]="500"
          >
            {{ row.category }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="client">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-3">
          Client
        </mat-header-cell>

        <mat-cell *matCellDef="let row" class="flex-3">
          <app-display-tags
            [label]="row.client.nameWithRetiredStatus"
            [tagIds]="row.client.tagIds"
            favoritesOnly
          >
          </app-display-tags>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="driver">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-3">
          Volunteer
        </mat-header-cell>

        <mat-cell *matCellDef="let row" class="flex-3">
          <app-display-tags
            [label]="row.driver ? row.driver.nameWithRetiredStatus : 'none'"
            [tagIds]="row.driver?.tagIds"
            favoritesOnly
          >
          </app-display-tags>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="
          ['selected', 'date', 'time', 'priority', 'tag', 'client', 'driver'];
          sticky: true
        "
      ></mat-header-row>

      <mat-row
        *matRowDef="
          let row;
          columns: [
            'selected',
            'date',
            'time',
            'priority',
            'tag',
            'client',
            'driver'
          ]
        "
        (click)="
          navigateToPath($event, [
            '/dispatcher/ride-request',
            row.uid,
            'overview'
          ])
        "
        class="anchor-row"
      >
      </mat-row>
    </mat-table>
  </ng-template>
</ng-template>
