<div class="padding-24 text-block">
  <p>Hi there!</p>
  <p>
    To begin, select your name using the drop down menu below. When you're done
    volunteering, don't forget to click the "Signout" button that will appear in
    the left hand menu bar after you sign in.
  </p>
</div>

<div class="padding-24" style="margin-top: 0;">
  <form
    class="form-field-container"
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
    novalidate
    autocomplete="off"
  >
    <mat-form-field appearance="fill">
      <mat-label>Select dispatcher</mat-label>
      <input
        matInput
        type="text"
        formControlName="dispatcherId"
        [matAutocomplete]="auto"
        (blur)="dispatcherSelectionCallback()"
        autocomplete="false"
      />
      <mat-hint>Don't see your name? Ask a staff member about it.</mat-hint>
    </mat-form-field>

    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="dispatcherDisplayFn"
      (closed)="dispatcherSelectionCallback()"
    >
      <mat-option
        *ngFor="let dispatcher of filteredDispatchers"
        [value]="dispatcher"
      >
        {{ dispatcher.name }}
      </mat-option>
    </mat-autocomplete>

    <div class="form-actions">
      <span
        class="tooltip-wrapper"
        matTooltip="Select your name using the dropdown first"
        [matTooltipDisabled]="loginForm.valid"
      >
        <button
          mat-raised-button
          color="accent"
          swIsLoading="dispatcher-login"
          [disabled]="isFormInvalid"
        >
          Login
        </button>
      </span>
    </div>
  </form>
</div>
