<div class="flex-2" style="display: flex; margin-bottom: 0.75rem">
  <!-- RIDES TODAY -->
  <!-- <div class="flex-column flex-1" style="margin-right: 1.5rem; min-width: 0">
    <div
      *ngIf="'ride-requests-today' | swIsLoading | async; else ridesTodayTitle"
      class="flex-row"
    >
      <mat-spinner
        [diameter]="22"
        class="vertical-margin-16"
        style="margin-right: 0.5rem"
      ></mat-spinner>
      <h3>Rides today</h3>
    </div>

    <ng-template #ridesTodayTitle>
      <h3 style="margin-top: 0">
        {{ rideRequestsToday.length }}
        {{ rideRequestsToday.length === 1 ? 'Ride' : 'Rides' }} today
      </h3>
    </ng-template>

    <mat-table
      #requestsToday
      [dataSource]="rideRequestsToday"
      swScrollPosition="ride-requests-today"
      swScrollPositionDelay="500"
    >
      <ng-container matColumnDef="tag">
        <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            matTooltip="{{ row.category }}"
            [matTooltipShowDelay]="500"
          >
            {{ row.category }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            matTooltip="{{ row.datetime | date: 'shortTime' }}"
            [matTooltipShowDelay]="500"
          >
            {{ row.datetime | date: 'shortTime' }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="client">
        <mat-header-cell *matHeaderCellDef class="flex-2">
          Client
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="flex-2">
          <app-display-tags
            [label]="row.client.nameWithRetiredStatus"
            [tagIds]="row.client.tagIds"
            favoritesOnly
          >
          </app-display-tags>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="driver">
        <mat-header-cell *matHeaderCellDef class="flex-2">
          Driver
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="flex-2">
          <app-display-tags
            [label]="row.driver ? row.driver.nameWithRetiredStatus : 'none'"
            [tagIds]="row.driver?.tagIds"
            favoritesOnly
          >
          </app-display-tags>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['tag', 'time', 'client', 'driver']; sticky: true"
      ></mat-header-row>

      <mat-row
        *matRowDef="let row; columns: ['tag', 'time', 'client', 'driver']"
        (click)="
          navigateToPath($event, [
            '/dispatcher/ride-request',
            row.uid,
            'overview'
          ])
        "
        class="anchor-row"
      >
      </mat-row>
    </mat-table>
  </div> -->

  <!-- UPCOMING RIDES WITHOUT A DRIVER -->
  <div class="flex-column flex-1" style="min-width: 0">
    <div
      *ngIf="
        'ride-requests-without-driver' | swIsLoading | async;
        else upcomingRidesWODriverTitle
      "
      class="flex-row"
    >
      <mat-spinner
        [diameter]="22"
        class="vertical-margin-16"
        style="margin-right: 0.5rem"
      ></mat-spinner>
      <h3>Upcoming requests w/o volunteer</h3>
    </div>

    <ng-template #upcomingRidesWODriverTitle>
      <h3 style="margin-top: 0">
        {{ rideRequestsWithoutDriver.length }} Upcoming
        {{ rideRequestsWithoutDriver.length === 1 ? 'request' : 'requests' }}
        w/o volunteer
      </h3>
    </ng-template>

    <mat-table
      #requestsWithoutDriver
      [dataSource]="rideRequestsWithoutDriver"
      [trackBy]="trackByID"
      swScrollPosition="ride-requests-without-driver"
      swScrollPositionDelay="500"
    >
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef class="flex-2">
          Date
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="flex-2">
          <span
            class="truncate-text"
            matTooltip="{{
              row.flexible
                ? 'Week of ' +
                  (row.datetime | flexibleDatetime) +
                  '. ' +
                  row.flexibleSchedule
                : (row.datetime | date: 'fullDate')
            }}"
            [matTooltipShowDelay]="500"
          >
            {{
              row.flexible
                ? (row.datetime | flexibleDatetime)
                : (row.datetime | date: 'shortDate')
            }}
            {{ row.recurringRideRequestId && '(R)' }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tag">
        <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            matTooltip="{{
              row.category === 'GSP'
                ? 'Grocery Shopper Program'
                : 'Senior Transportation Program'
            }}"
            [matTooltipShowDelay]="500"
          >
            {{ row.category }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span
            class="truncate-text"
            [matTooltip]="row.priority"
            [matTooltipShowDelay]="500"
          >
            {{ row.priority }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="client">
        <mat-header-cell *matHeaderCellDef class="flex-4">
          Client
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="flex-4">
          <app-display-tags
            [label]="row.client.nameWithRetiredStatus"
            [tagIds]="row.client.tagIds"
            favoritesOnly
          >
          </app-display-tags>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['date', 'tag', 'priority', 'client']; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['date', 'tag', 'priority', 'client']"
        (click)="
          navigateToPath($event, [
            '/dispatcher/ride-request',
            row.uid,
            'overview'
          ])
        "
        class="anchor-row"
      >
      </mat-row>
    </mat-table>
  </div>
</div>

<!-- TODOS -->
<div class="flex-column flex-2" style="margin-top: 0.75rem">
  <div
    *ngIf="'overview-todos' | swIsLoading | async; else overviewTodosTitle"
    class="flex-row"
  >
    <mat-spinner
      [diameter]="22"
      class="vertical-margin-16"
      style="margin-right: 0.5rem"
    ></mat-spinner>

    <h3>Items with todos</h3>
  </div>

  <ng-template #overviewTodosTitle>
    <h3 style="margin-top: 0">
      {{ todos.length }}
      {{ todos.length === 1 ? 'Item' : 'Items' }} with todos
    </h3>
  </ng-template>

  <mat-table
    [dataSource]="todos"
    [trackBy]="trackByTodo"
    swScrollPosition="overview-todos"
    swScrollPositionDelay="1000"
  >
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="flex-2"> Date </mat-header-cell>
      <mat-cell *matCellDef="let row" class="flex-2">
        <span
          class="truncate-text"
          matTooltip="{{
            !row.request
              ? 'n/a'
              : row.request.flexible
              ? 'Week of ' +
                (row.request.datetime | flexibleDatetime) +
                '. ' +
                row.request.flexibleSchedule
              : (row.request.datetime | date: 'fullDate')
          }}"
          [matTooltipShowDelay]="500"
        >
          {{
            !row.request
              ? 'n/a'
              : row.request.flexible
              ? (row.request.datetime | flexibleDatetime)
              : (row.request.datetime | date: 'shortDate')
          }}
          {{ row.request?.recurringRideRequestId && '(R)' }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>

      <mat-cell *matCellDef="let row">
        {{ row.type }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="person">
      <mat-header-cell *matHeaderCellDef class="flex-2">
        Person
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-2">
        <app-display-tags
          [label]="row.person.nameWithRetiredStatus"
          [tagIds]="row.person.tagIds"
          favoritesOnly
        >
        </app-display-tags>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="todos">
      <mat-header-cell *matHeaderCellDef class="flex-3">
        Todos
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="flex-3">
        <span
          class="truncate-text"
          [matTooltip]="row.text"
          [matTooltipShowDelay]="500"
        >
          {{ row.text }}
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['date', 'type', 'person', 'todos']; sticky: true"
    ></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: ['date', 'type', 'person', 'todos']"
      (click)="navigateToPath($event, [row.url])"
      class="anchor-row"
    >
    </mat-row>
  </mat-table>
</div>
