<div *ngIf="client; else loading">
  <mat-card
    class="profile info"
    *ngFor="let thread of flaggedNoteThreads; trackBy: trackByID"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Flagged notes
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <p *ngIf="thread.suppressTodo" style="opacity: 0.65">
        <em>
          This note has been hidden from the Overview page's Todo list (<span
            class="undo-suppressedtodo"
            (click)="
              suppressFlagTodo({
                noteThreadId: thread.uid,
                flag: thread.flag,
                suppressTodo: false
              })
            "
            >undo</span
          >).
        </em>
      </p>

      <p *ngIf="thread.driverId" style="opacity: 0.65">
        <a [routerLink]="['/dispatcher/driver', thread.driverId, 'profile']">
          Related to volunteer "{{ thread.driver!.nameWithRetiredStatus }}""
        </a>
      </p>

      <p *ngIf="thread.rideRequestId" style="opacity: 0.65">
        <a
          [routerLink]="[
            '/dispatcher/ride-request',
            thread.rideRequestId,
            'overview'
          ]"
        >
          Related to "{{ thread.rideRequest!.client.nameWithRetiredStatus }}'s"
          request on
          {{ thread.rideRequest!.datetime | date: 'shortDate' }}
        </a>
      </p>

      <ul>
        <li *ngFor="let note of thread.notes; trackBy: trackByID">
          <span [innerHTML]="renderNote(note.text)"></span> -
          {{ note.dispatcher!.nameWithRetiredStatus }} -
          {{ note.createdAtText }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="replyToFlag(thread)">Reply</button>

      <button
        *ngIf="!thread.suppressTodo"
        mat-stroked-button
        matTooltip="By default, flagged notes are included on the Overview page's Todo list. Click here to exclude this note from the Todo list."
        (click)="
          suppressFlagTodo({
            noteThreadId: thread.uid,
            flag: thread.flag,
            suppressTodo: true
          })
        "
      >
        Hide note from overview page
      </button>

      <button
        mat-stroked-button
        color="warn"
        (click)="
          flagNote({
            noteThreadId: thread.uid,
            flag: false,
            suppressTodo: false
          })
        "
      >
        Remove flag
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="client!.retiredAt" class="profile warn">
    <mat-card-title>Client retired</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Retired on</strong></p>
        <p>{{ client!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Reason for being retired</strong></p>
        <p>{{ client!.retiredReason }}</p>
      </div>

      <div>
        <p class="label"><strong>Retired by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              client!.retiredById,
              'profile'
            ]"
          >
            {{ client!.retiredBy!.nameWithRetiredStatus }}
          </a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="flex-row">
    <div class="flex-column flex-2">
      <mat-card class="profile">
        <mat-card-content>
          <div>
            <p class="label"><strong>Client name</strong></p>

            <app-display-tags
              [label]="client!.fullnameWithRetiredStatus"
              [tagIds]="client!.tagIds"
              style="margin: 0"
            ></app-display-tags>
          </div>

          <div>
            <p class="label"><strong>Phone number</strong></p>
            <p>{{ client!.phoneNumber || 'n/a' }}</p>
          </div>

          <div>
            <p class="label"><strong>Email address</strong></p>
            <p>{{ client!.emailAddress || 'n/a' }}</p>
          </div>

          <div>
            <p class="label"><strong>Home address</strong></p>
            <p>{{ client!.address.toString() }}</p>
          </div>

          <div>
            <p class="label">
              <strong>Special home address directions</strong>
            </p>
            <p>{{ client!.address.comments || 'none' }}</p>
          </div>

          <div>
            <p class="label"><strong>Birthdate</strong></p>
            <p>{{ client!.birthdate | date: 'shortDate' }}</p>
          </div>

          <div>
            <p class="label"><strong>Age</strong></p>
            <p>{{ client!.age }} years old</p>
          </div>

          <div>
            <p class="label">
              <strong> Number of requests in the next three weeks </strong>
            </p>
            <p>
              {{
                upcomingRideRequests === null
                  ? 'loading'
                  : upcomingRideRequests.length
              }}
            </p>
          </div>

          <div>
            <p class="label">
              <strong> Number of active recurring requests </strong>
            </p>
            <p>
              {{
                activeRecurringRideRequests === null
                  ? 'loading'
                  : activeRecurringRideRequests.length
              }}
            </p>
          </div>

          <div>
            <p class="label"><strong>Last non-cancelled request</strong></p>
            <p>
              <a
                *ngIf="previousRideRequest; else noPreviousRequest"
                [routerLink]="[
                  '/dispatcher/ride-request',
                  previousRideRequest!.uid,
                  'overview'
                ]"
              >
                {{
                  previousRideRequest!.flexible
                    ? 'Week of ' +
                      (previousRideRequest!.datetime | flexibleDatetime) +
                      ' (' +
                      previousRideRequest!.category +
                      '). ' +
                      previousRideRequest!.flexibleSchedule
                    : (previousRideRequest!.datetime
                        | date: 'E, MMM d, y @ h:mmaaa') +
                      ' (' +
                      previousRideRequest!.category +
                      ')'
                }}
                {{ previousRideRequest.recurringRideRequestId && '(R)' }}
              </a>

              <ng-template #noPreviousRequest>
                {{
                  ('next/previous requests' | swIsLoading | async)
                    ? 'loading'
                    : 'None'
                }}
              </ng-template>
            </p>
          </div>

          <div>
            <p class="label"><strong>Next non-cancelled request</strong></p>
            <p>
              <a
                *ngIf="nextRideRequest; else noNextRequest"
                [routerLink]="[
                  '/dispatcher/ride-request',
                  nextRideRequest!.uid,
                  'overview'
                ]"
              >
                {{
                  nextRideRequest!.flexible
                    ? 'Week of ' +
                      (nextRideRequest!.datetime | flexibleDatetime) +
                      ' (' +
                      nextRideRequest!.category +
                      '). ' +
                      nextRideRequest!.flexibleSchedule
                    : (nextRideRequest!.datetime
                        | date: 'E, MMM d, y @ h:mmaaa') +
                      ' (' +
                      nextRideRequest!.category +
                      ')'
                }}
                {{ nextRideRequest.recurringRideRequestId && '(R)' }}
              </a>

              <ng-template #noNextRequest>
                {{
                  ('next/previous requests' | swIsLoading | async)
                    ? 'loading'
                    : 'None'
                }}
              </ng-template>
            </p>
          </div>

          <div *ngIf="client!.defaultPeopleImpacted !== 1">
            <p class="label">
              <strong>
                General number of people benefitting from requests
              </strong>
            </p>
            <p>{{ client!.defaultPeopleImpacted }}</p>
          </div>

          <div *ngIf="client!.defaultPeopleImpactedDescription">
            <p class="label">
              <strong> Details about other beneficiaries </strong>
            </p>
            <p>{{ client!.defaultPeopleImpactedDescription }}</p>
          </div>

          <div class="warn" *ngIf="client!.restrictions">
            <p class="label"><strong> Client restrictions </strong></p>
            <p>{{ client!.restrictions || 'none' }}</p>
          </div>

          <div>
            <p class="label"><strong> Other information </strong></p>
            <p>{{ client!.comments || 'none' }}</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="profile">
        <mat-card-content>
          <div>
            <p class="label">
              <strong> Do you receive Medi-CAL or SSI? </strong>
            </p>
            <p>{{ renderAnswer(client!.mediCalOrSsi) || 'n/a' }}</p>
          </div>

          <div>
            <p class="label">
              <strong> How do you identify your race or ethnicity? </strong>
            </p>
            <p>{{ renderAnswer(client!.ethnicity) || 'n/a' }}</p>
          </div>

          <div
            *ngFor="let answer of currentAnswers; trackBy: trackByQuestionID"
          >
            <p class="label">
              <strong> {{ answer.question!.text }} </strong>
            </p>
            <p>{{ answer.renderedAnswer || 'n/a' }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="profile-notes">
      <mat-card
        class="profile flex-column flex-1"
        style="padding-bottom: 0.5rem; position: relative"
      >
        <p class="label" style="font-size: 14px; margin-bottom: 0">
          <strong> Notes </strong>
        </p>

        <div
          *ngIf="
            'client-note-threads' | swIsLoading | async;
            else clientThreads
          "
          class="flex-center flex-1"
        >
          <mat-spinner></mat-spinner>
        </div>

        <ng-template #clientThreads>
          <app-notes
            [noteThreads]="noteThreads"
            viewingAs="client"
            (replyToNote)="replyToNote($event)"
            (editNote)="editNote($event)"
            (flagNote)="flagNote($event)"
            (deleteNote)="deleteNote($event)"
          >
            <div class="flex-1"></div>
            <button mat-button (click)="addNote()">Add new note</button>
          </app-notes>
        </ng-template>
      </mat-card>
    </div>
  </div>

  <mat-card class="profile" *ngIf="oldAnswers.length > 0">
    <mat-card-title>Outdated information</mat-card-title>

    <mat-card-content>
      <div *ngFor="let answer of oldAnswers; trackBy: trackByQuestionID">
        <p class="label">
          <strong>{{ answer.question!.text }}</strong>
        </p>
        <p>{{ answer.renderedAnswer || 'n/a' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div
    *ngIf="!client?.retiredAt; else showRetiredActions"
    class="profile-actions"
  >
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editClient()">edit client</button>
      </mat-card-content>
    </mat-card>

    <div class="flex-1"></div>

    <mat-card>
      <mat-card-content>
        <button mat-button (click)="toggleRetireClient()" color="warn">
          retire client
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #showRetiredActions>
    <div class="profile-actions">
      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button color="primary" (click)="toggleRetireClient()">
            un-retire client
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button (click)="editClient()">edit client</button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button color="warn" (click)="deleteClient()">
            delete client
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>

  <mat-card class="profile-map">
    <mat-card-content>
      <app-iframe [url]="mapUrl"></app-iframe>
    </mat-card-content>
  </mat-card>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Client added on</strong></p>
        <p>{{ client!.createdAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Client added by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              client!.createdById,
              'profile'
            ]"
            >{{ client!.createdBy!.nameWithRetiredStatus }}</a
          >
        </p>
      </div>

      <div>
        <p class="label"><strong>Client last updated on</strong></p>
        <p>{{ client!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="client!.retiredAt">
        <p class="label"><strong>Client retired on</strong></p>
        <p>{{ client!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="client!.retiredBy">
        <p class="label"><strong>Client retired by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              client!.retiredById,
              'profile'
            ]"
            >{{ client!.retiredBy!.nameWithRetiredStatus }}</a
          >
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="padding-24">
    <mat-spinner style="margin: auto"></mat-spinner>
  </div>
</ng-template>
