@import 'framing';

:host {
  @extend .padding-12;
}

.mat-card {
  @extend .margin-12;
}

.profile-notes {
  @extend .flex-column;
  @extend .flex-1;
}

.undo-suppressedtodo {
  text-decoration: underline;
  cursor: pointer;
}
