<mat-form-field appearance="standard" style="margin-bottom: 0.5rem">
  <input matInput placeholder="Search" (keyup)="filterQuestions($event)" />
  <mat-checkbox
    matSuffix
    color="primary"
    (change)="toggleRetiredQuestions($event)"
  >
    Show retired questions
  </mat-checkbox>
</mat-form-field>

<mat-table
  [dataSource]="filteredQuestions"
  cdkDropList
  (cdkDropListDropped)="reorderQuestions($event)"
  (cdkDropListSorted)="sortingQuestions($event)"
  swScrollPosition="loading-questions"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Order Column -->
  <ng-container matColumnDef="order">
    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>

    <mat-cell *matCellDef="let row; index as i">
      <div style="margin-right: 1rem">{{ i + 1 }}</div>
    </mat-cell>
  </ng-container>

  <!-- Text Column -->
  <ng-container matColumnDef="text">
    <mat-header-cell *matHeaderCellDef class="flex-4">
      Question
      <span style="opacity: 0.6; margin-left: 0.5rem">(drag to reorder)</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let row" class="flex-4">
      <span
        *ngIf="row.type === 'section-break'"
        style="opacity: 0.35; margin-right: 0.5rem"
      >
        Section
      </span>
      {{ row.text }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ displayActiveStatus(row) }} </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['order', 'text', 'active']; sticky: true"
  ></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: ['order', 'text', 'active']"
    [routerLink]="['../client-question', row.uid, 'profile']"
    cdkDrag
    class="anchor-row"
  >
  </mat-row>
</mat-table>
