<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    [routerLink]="['./profile']"
    [active]="activeRoute === 'profile'"
  >
    Profile
  </a>

  <a
    mat-tab-link
    [routerLink]="['./ride-requests', now.valueOf()]"
    [active]="activeRoute === 'ride-requests'"
  >
    Requests
  </a>
</nav>

<router-outlet></router-outlet>
