<h3 mat-dialog-title>
  <span *ngIf="'carpool-suggestions' | swIsLoading | async; else defaultTitle">
    This could take a minute to load...
  </span>

  <ng-template #defaultTitle>
    Carpool suggestions for {{ displayTimeRange() }}
  </ng-template>
</h3>

<mat-dialog-content
  style="overflow-y: auto; max-height: 60vh"
  class="vertical-padding-8"
>
  <div
    *ngIf="'carpool-suggestions' | swIsLoading | async; else suggestions"
    class="flex-1 flex-center"
    style="height: 300px"
  >
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #suggestions>
    <p *ngIf="carpoolSuggestions.length === 0; else showSuggestions">
      There are no carpool suggestions
    </p>

    <ng-template #showSuggestions>
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let suggestion of carpoolSuggestions; index as i"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Suggestion {{ i + 1 }} </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li>
              <a
                [routerLink]="[
                  '/dispatcher/ride-request',
                  suggestion.otherRequest.uid,
                  'overview'
                ]"
              >
                {{
                  suggestion.otherRequest.flexible
                    ? (suggestion.otherRequest.datetime | flexibleDatetime)
                    : (suggestion.otherRequest.datetime | date: 'shortDate')
                }}

                for

                {{ suggestion.otherRequest.client.nameWithRetiredStatus }}
              </a>
            </li>
          </ul>

          <p>{{ suggestion.mapDescription }}</p>

          <app-iframe
            [url]="suggestion.mapURL"
            class="trip-map flex-1"
          ></app-iframe>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex-1"></div>
  <button mat-button matDialogClose>Done</button>
</mat-dialog-actions>
