<div *ngIf="driver; else loading">
  <mat-card
    class="profile info"
    *ngFor="let thread of flaggedNoteThreads; trackBy: trackByID"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Flagged notes
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <p *ngIf="thread.suppressTodo" style="opacity: 0.65">
        <em>
          This note has been hidden from the Overview page's Todo list (<span
            class="undo-suppressedtodo"
            (click)="
              suppressFlagTodo({
                noteThreadId: thread.uid,
                flag: thread.flag,
                suppressTodo: false
              })
            "
            >undo</span
          >).
        </em>
      </p>

      <p *ngIf="thread.clientId" style="opacity: 0.65">
        <a [routerLink]="['/dispatcher/client', thread.clientId, 'profile']">
          Related to client "{{ thread.client!.nameWithRetiredStatus }}""
        </a>
      </p>

      <p *ngIf="thread.rideRequestId" style="opacity: 0.65">
        <a
          [routerLink]="[
            '/dispatcher/ride-request',
            thread.rideRequestId,
            'overview'
          ]"
        >
          Related to "{{ thread.rideRequest!.client.nameWithRetiredStatus }}'s"
          request on
          {{ thread.rideRequest!.datetime | date: 'shortDate' }}
        </a>
      </p>

      <ul>
        <li *ngFor="let note of thread.notes; trackBy: trackByID">
          <span [innerHTML]="renderNote(note.text)"></span> -
          {{ note.dispatcher!.nameWithRetiredStatus }} -
          {{ note.createdAtText }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="replyToFlag(thread)">Reply</button>

      <button
        *ngIf="!thread.suppressTodo"
        mat-stroked-button
        matTooltip="By default, flagged notes are included on the Overview page's Todo list. Click here to exclude this note from the Todo list."
        (click)="
          suppressFlagTodo({
            noteThreadId: thread.uid,
            flag: thread.flag,
            suppressTodo: true
          })
        "
      >
        Hide note from overview page
      </button>

      <button
        mat-stroked-button
        color="warn"
        (click)="
          flagNote({
            noteThreadId: thread.uid,
            flag: false,
            suppressTodo: false
          })
        "
      >
        Remove flag
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="driver!.retiredAt" class="profile warn">
    <mat-card-title>Retired volunteer</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Retired on</strong></p>
        <p>{{ driver!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Reason for being retired</strong></p>
        <p>{{ driver!.retiredReason }}</p>
      </div>

      <div>
        <p class="label"><strong>Retired by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              driver!.retiredById,
              'profile'
            ]"
          >
            {{ driver!.retiredBy!.nameWithRetiredStatus }}
          </a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="profile info" *ngIf="isDriverVacationing">
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      On vacation
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <p>
        This volunteer is on vacation until
        {{ driver!.vacationEndsAt | date: 'longDate' }}.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="editVacation()">Edit vacation</button>
      <button mat-stroked-button color="primary" (click)="endVacation()">
        End vacation
      </button>
    </mat-card-actions>
  </mat-card>

  <!--
    Temporarily disabling the drivers license / car insurance warnings since we aren't
    acting on them.
  -->

  <!-- <mat-card
    *ngIf="!driver.retiredAt && isLicenseOrInsuranceExpiring"
    class="info"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Heads up
    </mat-card-title>

    <mat-card-content>
      <p>
        It looks like the car insurance information and/or driver's license
        information on file for this driver is outdated. Our records indicate
        that this driver's car insurance expires on
        <strong>
          {{ driver!.carInsuranceExpirationDate | date: 'mediumDate' }}
        </strong>
        and their driver's license expires on
        <strong>
          {{ driver!.driversLicenseExpirationDate | date: 'mediumDate' }}
        </strong>
        .
      </p>

      <p>
        <strong>
          Please update their insurance and/or driver's license information, as
          appropriate, to make this message go away.
        </strong>
      </p>
    </mat-card-content>
  </mat-card> -->

  <div class="flex-row">
    <div class="flex-column flex-2">
      <mat-card class="profile">
        <mat-card-content>
          <div class="warn" *ngIf="doesDriverHaveUpcomingVacation">
            <p class="label"><strong>Upcoming vacation</strong></p>
            <p>
              This volunteer is scheduled to be on vacation from
              {{ driver!.vacationStartsAt | date: 'mediumDate' }} to
              {{ driver!.vacationEndsAt | date: 'mediumDate' }}.
            </p>
          </div>

          <div>
            <p class="label"><strong>Volunteer name</strong></p>

            <app-display-tags
              [label]="driver!.fullnameWithRetiredStatus"
              [tagIds]="driver!.tagIds"
              style="margin: 0"
            ></app-display-tags>
          </div>

          <div>
            <p class="label"><strong>Phone number</strong></p>
            <p>{{ driver!.phoneNumber }}</p>
          </div>

          <div>
            <p class="label"><strong>Email address</strong></p>
            <p>{{ driver!.emailAddress || 'n/a' }}</p>
          </div>

          <div>
            <p class="label"><strong>Home address</strong></p>
            <p>{{ driver!.address.toString() }}</p>
          </div>

          <div>
            <p class="label">
              <strong>Special home address directions</strong>
            </p>
            <p>{{ driver!.address.comments || 'none' }}</p>
          </div>

          <div>
            <p class="label"><strong>Birthdate</strong></p>
            <p>
              {{
                driver!.birthdate
                  ? (driver!.birthdate | date: 'shortDate')
                  : 'n/a'
              }}
            </p>
          </div>

          <div>
            <p class="label"><strong>Age</strong></p>
            <p>{{ driver!.birthdate ? driver!.age + ' years old' : 'n/a' }}</p>
          </div>

          <div>
            <p class="label">
              <strong> Number of requests in the next three weeks </strong>
            </p>
            <p>
              {{
                upcomingRideRequests === null
                  ? 'loading'
                  : upcomingRideRequests.length
              }}
            </p>
          </div>

          <div>
            <p class="label">
              <strong> Number of active recurring requests </strong>
            </p>
            <p>
              {{
                activeRecurringRideRequests === null
                  ? 'loading'
                  : activeRecurringRideRequests.length
              }}
            </p>
          </div>

          <div>
            <p class="label"><strong>Last non-cancelled request</strong></p>
            <p>
              <a
                *ngIf="previousRideRequest; else noPreviousRequest"
                [routerLink]="[
                  '/dispatcher/ride-request',
                  previousRideRequest!.uid,
                  'overview'
                ]"
              >
                {{
                  previousRideRequest!.flexible
                    ? 'Week of ' +
                      (previousRideRequest!.datetime | flexibleDatetime) +
                      ' (' +
                      previousRideRequest!.category +
                      '). ' +
                      previousRideRequest!.flexibleSchedule
                    : (previousRideRequest!.datetime
                        | date: 'E, MMM d, y @ h:mmaaa') +
                      ' (' +
                      previousRideRequest!.category +
                      ')'
                }}
                {{ previousRideRequest.recurringRideRequestId && '(R)' }}
              </a>

              <ng-template #noPreviousRequest>
                {{
                  ('next/previous requests' | swIsLoading | async)
                    ? 'loading'
                    : 'None'
                }}
              </ng-template>
            </p>
          </div>

          <div>
            <p class="label"><strong>Next non-cancelled request</strong></p>
            <p>
              <a
                *ngIf="nextRideRequest; else noNextRequest"
                [routerLink]="[
                  '/dispatcher/ride-request',
                  nextRideRequest!.uid,
                  'overview'
                ]"
              >
                {{
                  nextRideRequest!.flexible
                    ? 'Week of ' +
                      (nextRideRequest!.datetime | flexibleDatetime) +
                      ' (' +
                      nextRideRequest!.category +
                      '). ' +
                      nextRideRequest!.flexibleSchedule
                    : (nextRideRequest!.datetime
                        | date: 'E, MMM d, y @ h:mmaaa') +
                      ' (' +
                      nextRideRequest!.category +
                      ')'
                }}
                {{ nextRideRequest.recurringRideRequestId && '(R)' }}
              </a>

              <ng-template #noNextRequest>
                {{
                  ('next/previous requests' | swIsLoading | async)
                    ? 'loading'
                    : 'None'
                }}
              </ng-template>
            </p>
          </div>

          <div>
            <p class="label">
              <strong>Volunteer's license expiration date</strong>
            </p>
            <p>
              {{ driver!.driversLicenseExpirationDate | date: 'mediumDate' }}
            </p>
          </div>

          <div>
            <p class="label"><strong>Car insurance expiration date</strong></p>
            <p>{{ driver!.carInsuranceExpirationDate | date: 'mediumDate' }}</p>
          </div>

          <div class="warn" *ngIf="displayBlacklistedClients">
            <p class="label">
              <strong>
                This volunteer is unwilling to work with the following clients
              </strong>
            </p>
            <p>
              <ng-container
                *ngFor="
                  let client of driver!.blacklistedClients;
                  index as i;
                  last as isLast;
                  trackBy: trackByID
                "
              >
                <a [routerLink]="['/dispatcher/client', client.uid, 'profile']">
                  {{ client.nameWithRetiredStatus }}
                </a>
                <span *ngIf="!isLast">,</span>
              </ng-container>
            </p>
          </div>

          <div>
            <p class="label"><strong>Special information</strong></p>
            <p>{{ driver!.comments || 'none' }}</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="profile flex-1">
        <mat-card-content>
          <div>
            <p class="label"><strong>Gender identity</strong></p>
            <p>{{ driver!.genderIdentity || 'n/a' }}</p>
          </div>

          <div>
            <p class="label">
              <strong> How do you identify your race or ethnicity? </strong>
            </p>
            <p>{{ driver!.ethnicity || 'n/a' }}</p>
          </div>

          <div>
            <p class="label">
              <strong> What days are you available to drive clients? </strong>
            </p>
            <p>{{ driver!.renderAvailability() || 'n/a' }}</p>
          </div>

          <div>
            <p class="label"><strong>Car information?</strong></p>
            <p>{{ driver!.carInfo || 'n/a' }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="profile-notes">
      <mat-card
        class="profile flex-column flex-1"
        style="padding-bottom: 0.5rem; position: relative"
      >
        <p class="label" style="font-size: 14px; margin-bottom: 0">
          <strong> Notes </strong>
        </p>

        <div
          *ngIf="'driver-note-threads' | swIsLoading | async; else driverNotes"
          class="flex-center flex-1"
        >
          <mat-spinner></mat-spinner>
        </div>

        <ng-template #driverNotes>
          <app-notes
            [noteThreads]="noteThreads"
            viewingAs="driver"
            (replyToNote)="replyToNote($event)"
            (editNote)="editNote($event)"
            (flagNote)="flagNote($event)"
            (deleteNote)="deleteNote($event)"
          >
            <div class="flex-1"></div>
            <button mat-button (click)="addNote()">Add new note</button>
          </app-notes>
        </ng-template>
      </mat-card>
    </div>
  </div>

  <div
    *ngIf="!driver?.retiredAt; else showRetiredActions"
    class="profile-actions"
  >
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editDriver()">edit volunteer</button>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <button mat-button [matMenuTriggerFor]="moreOptions">
          More options
        </button>

        <mat-menu #moreOptions="matMenu">
          <button mat-menu-item type="button" (click)="editVacation()">
            {{
              isDriverVacationing || doesDriverHaveUpcomingVacation
                ? 'Edit vacation'
                : 'Set vacation days'
            }}
          </button>

          <a
            mat-menu-item
            [routerLink]="[
              '/dispatcher/driver',
              driver!.uid,
              'suggest-requests',
              currentTime,
              'week'
            ]"
          >
            Suggest requests
          </a>

          <button mat-menu-item type="button">Cancel</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <button mat-button (click)="toggleRetireDriver()" color="warn">
          retire volunteer
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #showRetiredActions>
    <div class="profile-actions">
      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button color="primary" (click)="toggleRetireDriver()">
            un-retire volunteer
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button (click)="editDriver()">edit driver</button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button color="warn" (click)="deleteDriver()">
            delete volunteer
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>

  <mat-card class="profile-map">
    <mat-card-content>
      <app-iframe [url]="mapUrl"></app-iframe>
    </mat-card-content>
  </mat-card>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Volunteer added on</strong></p>
        <p>{{ driver!.createdAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Volunteer added by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              driver!.createdById,
              'profile'
            ]"
            >{{ driver!.createdBy!.nameWithRetiredStatus }}</a
          >
        </p>
      </div>

      <div>
        <p class="label"><strong>Volunteer last updated on</strong></p>
        <p>{{ driver!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="driver!.retiredAt">
        <p class="label"><strong>Volunteer retired at</strong></p>
        <p>{{ driver!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="driver!.retiredBy">
        <p class="label"><strong>Volunteer retired by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              driver!.retiredById,
              'profile'
            ]"
          >
            {{ driver!.retiredBy!.nameWithRetiredStatus }}
          </a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="padding-24">
    <mat-spinner style="margin: auto"></mat-spinner>
  </div>
</ng-template>
