<div *ngIf="dispatcher; else loading">
  <mat-card *ngIf="dispatcher!.retiredAt" class="profile warn">
    <mat-card-title>Retired dispatcher</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Retired on</strong></p>
        <p>{{ dispatcher!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="profile">
    <mat-card-content>
      <div>
        <p class="label"><strong>Dispatcher name</strong></p>
        <p>{{ dispatcher!.nameWithRetiredStatus }}</p>
      </div>

      <div>
        <p class="label"><strong>Phone number</strong></p>
        <p>{{ dispatcher!.phoneNumber || 'n/a' }}</p>
      </div>

      <div>
        <p class="label"><strong>Email address</strong></p>
        <p>{{ dispatcher!.emailAddress || 'n/a' }}</p>
      </div>

      <div>
        <p class="label"><strong>Special information</strong></p>
        <p>{{ dispatcher!.notes || 'none' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="profile-actions">
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editDispatcher()">edit dispatcher</button>
      </mat-card-content>
    </mat-card>

    <div class="flex-1"></div>

    <mat-card *ngIf="isAdmin(); else hideRetiredButton">
      <mat-card-content>
        <button
          mat-button
          [matMenuTriggerFor]="retireConfirmation"
          color="warn"
        >
          {{ dispatcher!.retiredAt ? 'un-retire' : 'retire' }} dispatcher
        </button>

        <mat-menu #retireConfirmation="matMenu">
          <button mat-menu-item (click)="toggleRetireDispatcher()">
            Confirm
          </button>
          <button mat-menu-item>Cancel</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>

    <ng-template #hideRetiredButton> <div class="flex-1"></div> </ng-template>
  </div>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Dispatcher added on</strong></p>
        <p>{{ dispatcher!.createdAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Dispatcher last updated on</strong></p>
        <p>{{ dispatcher!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="dispatcher!.retiredAt">
        <p class="label"><strong>Dispatcher retired on</strong></p>
        <p>{{ dispatcher!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="padding-24">
    <mat-spinner style="margin: auto"></mat-spinner>
  </div>
</ng-template>
