<form
  *ngIf="destinationForm"
  [formGroup]="destinationForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Update favorite destination</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <p style="margin-top: 0; margin-bottom: 2rem;">
        <small
          ><em>
            Note: an asterix ("*") at the end of a field name means it's
            required.
          </em></small
        >
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="label" autocomplete="false" required />
        <mat-hint
          >Note: it's important for other dispatchers to be able to understand
          the name</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input
          matInput
          formControlName="street"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apartment/space number</mat-label>
        <input
          matInput
          formControlName="apartmentNumber"
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required autocomplete="false" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" required autocomplete="false" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Special address info</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="edit-destination"
      (click)="close()"
    >
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="destinationForm!.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="edit-destination"
        [disabled]="destinationForm!.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
