<div style="display: flex">
  <mat-form-field
    appearance="standard"
    class="flex-1"
    style="margin-bottom: 0.5rem"
  >
    <button
      *ngIf="searchControl.value !== ''"
      mat-icon-button
      matPrefix
      (click)="searchControl.patchValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>

    <input matInput [formControl]="searchControl" placeholder="Search" />
  </mat-form-field>

  <mat-form-field appearance="standard" style="width: 250px; margin-left: 1rem">
    <mat-label>Tags</mat-label>

    <mat-select [formControl]="tagsControl" multiple>
      <mat-option
        *ngFor="let tag of clientTags"
        [value]="tag.uid"
        [matTooltip]="tag.description"
        matTooltipShowDelay="500"
      >
        ({{ tag.label }}) {{ tag.description }}
      </mat-option>

      <mat-option class="edit-multi-select-list-options">
        Edit tags
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard" style="width: 150px; margin-left: 1rem">
    <mat-label> Options </mat-label>

    <mat-select [formControl]="filterOptionsControl" multiple>
      <mat-option value="retired"> Show retired clients </mat-option>
      <mat-option value="allTags">
        Match <em>all</em> selected tags
      </mat-option>
      <mat-option value="hideTags"> Hide selected tags </mat-option>
      <mat-option value="map"> Map view </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card *ngIf="filterOptions.includes('map'); else tableView" style="flex: 1">
  <google-map
    width="100%"
    height="100%"
    [center]="{ lat: 36.977243, lng: -121.901571 }"
    [zoom]="12"
    [options]="{
      disableDefaultUI: true,
      zoomControl: true
    }"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let client of filteredClients"
      [position]="{
        lat: client.address.latitude,
        lng: client.address.longitude
      }"
      (mapClick)="openInfoWindow(marker, client)"
    ></map-marker>

    <map-info-window>
      <app-display-tags
        [label]="selectedClientOnMap?.nameWithRetiredStatus"
        labelHref="/dispatcher/client/{{ selectedClientOnMap?.uid }}/profile"
        [tags]="selectedClientOnMap?.customTags"
        [tagIds]="selectedClientOnMap?.tagIds"
        style="margin: 0"
      ></app-display-tags>
    </map-info-window>
  </google-map>
</mat-card>

<ng-template #tableView>
  <mat-table
    id="clients-table"
    [dataSource]="filteredClients"
    matSort
    [matSortActive]="sortBy"
    [matSortDirection]="sortDir"
    appMatSortRouterSync
    [trackBy]="trackBy"
    swScrollPosition="loading-clients"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-4">
        Name
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-4">
        <app-display-tags
          [label]="row.nameWithRetiredStatus"
          [tags]="row.customTags"
          [tagIds]="row.tagIds"
        >
        </app-display-tags>
      </mat-cell>
    </ng-container>

    <!-- Upcoming Requests Column -->
    <ng-container matColumnDef="upcoming">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="flex-2"
        matTooltip="Upcoming requests in the next 3 weeks"
      >
        Upcoming Requests
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-2">
        {{ row.upcomingRequests }}
      </mat-cell>
    </ng-container>

    <!-- Recurring Requests Column -->
    <ng-container matColumnDef="recurring">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-2">
        Recurring Requests
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-2">
        {{ row.activeRecurringRequests }}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Active
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        {{ displayActiveStatus(row) }}
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="
        ['name', 'upcoming', 'recurring', 'active'];
        sticky: true
      "
    ></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: ['name', 'upcoming', 'recurring', 'active']"
      class="anchor-row"
      (click)="
        navigateToPath($event, ['/dispatcher/client', row.uid, 'profile'])
      "
    >
    </mat-row>
  </mat-table>
</ng-template>
