<div class="flex-column wrapper">
  <h1>Down for Maintenance</h1>

  <p [innerHTML]="message"></p>

  <p>
    If you want to sign out for some reason, you can.
  </p>

  <div>
    <button mat-flat-button type="button" color="primary" (click)="signOut()">
      Sign out
    </button>
  </div>
</div>
