<div *ngIf="rideRequest; else loading">
  <mat-card
    class="profile info"
    *ngFor="let thread of flaggedRideRequestNoteThreads; trackBy: trackByID"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Flagged notes
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <p *ngIf="thread.suppressTodo" style="opacity: 0.65">
        <em>
          This note has been hidden from the Overview page's Todo list (<span
            class="undo-suppressedtodo"
            (click)="
              suppressFlagTodo({
                noteThreadId: thread.uid,
                flag: thread.flag,
                suppressTodo: false
              })
            "
            >undo</span
          >).
        </em>
      </p>

      <p *ngIf="thread.clientId" style="opacity: 0.65">
        <a [routerLink]="['/dispatcher/client', thread.clientId, 'profile']">
          Related to client "{{ thread.client!.nameWithRetiredStatus }}""
        </a>
      </p>

      <p *ngIf="thread.driverId" style="opacity: 0.65">
        <a [routerLink]="['/dispatcher/driver', thread.driverId, 'profile']">
          Related to volunteer "{{ thread.driver!.nameWithRetiredStatus }}""
        </a>
      </p>

      <ul>
        <li *ngFor="let note of thread.notes; trackBy: trackByID">
          <span [innerHTML]="renderNote(note.text)"></span> -
          {{ note.dispatcher!.nameWithRetiredStatus }} -
          {{ note.createdAtText }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="replyToFlag(thread)">Reply</button>

      <button
        *ngIf="!thread.suppressTodo"
        mat-stroked-button
        matTooltip="By default, flagged notes are included on the Overview page's Todo list. Click here to exclude this note from the Todo list."
        (click)="
          suppressFlagTodo({
            noteThreadId: thread.uid,
            flag: thread.flag,
            suppressTodo: true
          })
        "
      >
        Hide note from overview page
      </button>

      <button
        mat-stroked-button
        color="warn"
        (click)="
          flagNote({
            noteThreadId: thread.uid,
            flag: false,
            suppressTodo: false
          })
        "
      >
        Remove flag
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card
    class="profile info"
    *ngFor="let thread of flaggedClientNoteThreads; trackBy: trackByID"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Client has flag
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <ul>
        <li *ngFor="let note of thread.notes; trackBy: trackByID">
          <span [innerHTML]="renderNote(note.text)"></span> -
          {{ note.dispatcher!.nameWithRetiredStatus }} @
          {{ note.createdAtText }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <a
        mat-stroked-button
        routerLink="/dispatcher/client/{{ rideRequest!.clientId }}/profile"
      >
        View client profile
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card
    class="profile info"
    *ngFor="let thread of flaggedDriverNoteThreads; trackBy: trackByID"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Volunteer has flag
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <ul>
        <li *ngFor="let note of thread.notes; trackBy: trackByID">
          <span [innerHTML]="renderNote(note.text)"></span> -
          {{ note.dispatcher!.nameWithRetiredStatus }} @
          {{ note.createdAtText }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <a
        mat-stroked-button
        routerLink="/dispatcher/driver/{{ rideRequest!.driverId }}/profile"
      >
        View volunteer profile
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card
    *ngIf="
      rideRequest!.driverId === null &&
      rideRequest!.clientNotifiedOfDriverAt !== null
    "
    class="info"
  >
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Heads up
    </mat-card-title>

    <mat-card-content>
      <p>
        It looks like the client was notified that a volunteer had agreed to
        drive them. However, after that happened, the volunteer was removed from
        this request.
      </p>
      <p>
        <strong>
          Has the client been notified that there is no longer a volunteer?
        </strong>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <div class="flex-1"></div>
      <button
        mat-stroked-button
        color="primary"
        (click)="toggleClientNotified()"
      >
        Yes
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="profile info" *ngIf="possibleDuplicate">
    <mat-card-title>
      <mat-icon>warning</mat-icon>
      Possible duplicate
    </mat-card-title>

    <mat-card-content style="column-width: auto">
      <p>
        It looks like this client has another request on the same day. Is it
        possible that this request was accidently entered twice? Here's a
        summary of the other request:
      </p>

      <ul>
        <li>Time: {{ possibleDuplicate!.datetime | date: 'h:mmaaa' }}</li>
        <li>Pickup: {{ possibleDuplicate!.pickupAddress.label }}</li>
        <li>
          Destinations:
          {{
            possibleDuplicate!.destinationAddresses
              .map(mapAddressToLabel)
              .join(', ')
          }}
        </li>
        <li>
          Volunteer:
          {{ possibleDuplicate!.driver?.nameWithRetiredStatus || 'none' }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <a
        mat-stroked-button
        [routerLink]="[
          '/dispatcher/ride-request',
          possibleDuplicate!.uid,
          'overview'
        ]"
      >
        View other request
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="cancelled" class="profile warn">
    <mat-card-title>Cancelled</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Cancelled on</strong></p>
        <p>{{ rideRequest!.requestCancelledAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Cancelled by</strong></p>
        <p>{{ rideRequest!.requestCancelledBy }}</p>
      </div>

      <div>
        <p class="label"><strong>Reason for cancellation</strong></p>
        <p>{{ rideRequest!.cancellationReason }}</p>
      </div>

      <div>
        <p class="label"><strong>Dispatcher who logged cancellation</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              rideRequest!.idOfDispatcherWhoCancelledRequest,
              'profile'
            ]"
          >
            {{
              rideRequest!.dispatcherWhoCancelledRequest!.nameWithRetiredStatus
            }}
          </a>
        </p>
      </div>

      <div *ngIf="rideRequest!.driverId">
        <mat-checkbox
          [formControl]="driverNotifiedOfCancellation"
          (click)="toggleDriverNotifiedOfCancellation()"
          color="primary"
          labelPosition="before"
        >
          Volunteer notified?
        </mat-checkbox>
      </div>

      <div *ngIf="rideRequest!.driverNotifiedOfCancellationAt">
        <p class="label"><strong>Volunteer notified on</strong></p>
        <p>
          {{
            rideRequest!.driverNotifiedOfCancellationAt | date: 'E, MMM d, y'
          }}
        </p>
      </div>

      <div *ngIf="rideRequest!.driverNotifiedOfCancellationBy">
        <p class="label"><strong>Volunteer notified by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              rideRequest!.driverNotifiedOfCancellationById,
              'profile'
            ]"
          >
            {{
              rideRequest!.driverNotifiedOfCancellationBy!.nameWithRetiredStatus
            }}
          </a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="flex-row">
    <div class="flex-column flex-2">
      <mat-card class="profile">
        <!-- <mat-card-title *ngIf="cancelled">Ride</mat-card-title> -->
        <mat-card-title
          matTooltip="{{
            rideRequest!.category === 'GSP'
              ? 'request for Grocery Shopper Program'
              : 'request for Senior Transportation Program'
          }}"
          [matTooltipShowDelay]="500"
        >
          {{ rideRequest!.recurringRideRequest ? 'Recurring' : 'One-time' }}
          request ({{ rideRequest!.category }})
        </mat-card-title>

        <mat-card-content>
          <div>
            <p class="label"><strong>Client</strong></p>

            <app-display-tags
              [label]="rideRequest!.client.nameWithRetiredStatus"
              labelHref="/dispatcher/client/{{ rideRequest!.clientId }}/profile"
              [tagIds]="rideRequest.client.tagIds"
              favoritesOnly
              style="margin: 0"
            ></app-display-tags>
          </div>

          <div>
            <p class="label"><strong>Client phone number</strong></p>
            <p>{{ rideRequest!.client.phoneNumber }}</p>
          </div>

          <div class="warn" *ngIf="rideRequest!.client!.restrictions">
            <p class="label"><strong>Client restrictions</strong></p>
            <p>{{ rideRequest!.client!.restrictions || 'none' }}</p>
          </div>

          <div>
            <p class="label"><strong>Special client information</strong></p>
            <p>{{ rideRequest!.client.comments || 'none' }}</p>
          </div>

          <div>
            <p class="label"><strong>Time of this request</strong></p>
            <p>
              {{
                rideRequest!.flexible
                  ? 'Week of ' +
                    (rideRequest!.datetime | flexibleDatetime) +
                    '. ' +
                    rideRequest!.flexibleSchedule
                  : (rideRequest!.datetime | date: 'E, MMM d, y @ h:mmaaa')
              }}
            </p>
          </div>

          <div *ngIf="rideRequest!.recurringRideRequest">
            <p class="label"><strong>Recurrence schedule</strong></p>
            <p>
              {{ printRecurrenceSchedule() }}
            </p>
          </div>

          <div>
            <p class="label"><strong>Request made by</strong></p>
            <p>{{ rideRequest!.requestMadeBy }}</p>
          </div>

          <div>
            <p class="label"><strong>Trip priority</strong></p>
            <p>{{ rideRequest!.priority }}</p>
          </div>

          <div>
            <p class="label"><strong>Pickup location</strong></p>
            <p>{{ rideRequest!.pickupAddress.toString() }}</p>
          </div>

          <div>
            <p class="label"><strong>Special pickup directions</strong></p>
            <p>{{ rideRequest!.pickupAddress.comments || 'none' }}</p>
          </div>

          <ng-template
            [ngIf]="rideRequest!.destinationAddresses.length < 2"
            [ngIfElse]="multDestinations"
          >
            <div>
              <p class="label"><strong>Destination</strong></p>
              <p>{{ rideRequest!.destinationAddresses[0].toString() }}</p>
            </div>

            <div>
              <p class="label"><strong>Purpose of destination</strong></p>
              <p>{{ rideRequest!.destinationAddresses[0]!.tripPurpose }}</p>
            </div>

            <div>
              <p class="label">
                <strong>Special directions for destination</strong>
              </p>
              <p>
                {{ rideRequest!.destinationAddresses[0].comments || 'none' }}
              </p>
            </div>
          </ng-template>

          <ng-template #multDestinations>
            <ng-template
              ngFor
              [ngForOf]="rideRequest!.destinationAddresses"
              let-destination
              let-i="index"
            >
              <div>
                <p class="label">
                  <strong>{{ addressNumber(i) }} destination</strong>
                </p>
                <p>{{ destination.toString() }}</p>
              </div>

              <div>
                <p class="label">
                  <strong>
                    Purpose of {{ addressNumber(i) | lowercase }} destination
                  </strong>
                </p>
                <p>{{ destination.tripPurpose }}</p>
              </div>

              <div>
                <p class="label">
                  <strong>
                    Special directions for
                    {{ addressNumber(i) | lowercase }} destination
                  </strong>
                </p>
                <p>{{ destination.comments || 'none' }}</p>
              </div>
            </ng-template>
          </ng-template>

          <div *ngIf="rideRequest!.peopleImpacted !== 1">
            <p class="label"><strong>Number of people benefitting</strong></p>
            <p>{{ rideRequest!.peopleImpacted }}</p>
          </div>

          <div *ngIf="rideRequest!.peopleImpactedDescription">
            <p class="label">
              <strong>Details about other beneficiaries</strong>
            </p>
            <p>{{ rideRequest!.peopleImpactedDescription }}</p>
          </div>

          <div>
            <p class="label"><strong>Other information</strong></p>
            <p>{{ rideRequest!.comments || 'none' }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="profile-notes">
      <mat-card
        class="profile flex-column flex-1"
        style="padding-bottom: 0.5rem; position: relative"
      >
        <p class="label" style="font-size: 14px; margin-bottom: 0">
          <strong> Notes </strong>
        </p>

        <div
          *ngIf="
            'ride-request-note-threads' | swIsLoading | async;
            else rideRequestNotes
          "
          class="flex-center flex-1"
        >
          <mat-spinner></mat-spinner>
        </div>

        <ng-template #rideRequestNotes>
          <app-notes
            [noteThreads]="noteThreads"
            viewingAs="rideRequest"
            (replyToNote)="replyToNote($event)"
            (editNote)="editNote($event)"
            (flagNote)="flagNote($event)"
            (deleteNote)="deleteNote($event)"
          >
            <div class="flex-1"></div>
            <button mat-button (click)="addNote()">Add new note</button>
          </app-notes>
        </ng-template>
      </mat-card>
    </div>
  </div>

  <mat-card class="profile">
    <mat-card-title>Volunteer</mat-card-title>

    <mat-card-content>
      <div *ngIf="rideRequest!.driver; else noDriver">
        <p class="label"><strong>Volunteer</strong></p>

        <app-display-tags
          [label]="rideRequest!.driver.nameWithRetiredStatus"
          labelHref="/dispatcher/driver/{{ rideRequest!.driverId }}/profile"
          [tagIds]="rideRequest.driver.tagIds"
          favoritesOnly
          style="margin: 0"
        ></app-display-tags>
      </div>

      <ng-template #noDriver>
        <div class="warn">
          <p
            class="label"
            *ngIf="rideRequest!.hasWillingDriver; else noWillingDriver"
          >
            None assigned but at least one person has indicated that they are
            willing to drive.
          </p>

          <ng-template #noWillingDriver>
            <p>none</p>
          </ng-template>
        </div>
      </ng-template>

      <div class="warn" *ngIf="doesDriverHaveVacation(rideRequest!.driver)">
        <p class="label"><strong>Volunteer vacation</strong></p>
        <p>
          This volunteer is scheduled to be on vacation from
          {{ rideRequest!.driver!.vacationStartsAt | date: 'mediumDate' }}
          to {{ rideRequest!.driver!.vacationEndsAt | date: 'mediumDate' }}.
        </p>
      </div>

      <div *ngIf="rideRequest!.driver">
        <p class="label"><strong>Volunteer phone number</strong></p>
        <p>{{ rideRequest!.driver!.phoneNumber }}</p>
      </div>

      <div *ngIf="rideRequest!.driverAssignedBy">
        <p class="label"><strong>Volunteer assigned by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              rideRequest!.driverAssignedById,
              'profile'
            ]"
            >{{ rideRequest!.driverAssignedBy!.nameWithRetiredStatus }}</a
          >
        </p>
      </div>

      <div *ngIf="rideRequest!.driverId">
        <span
          class="tooltip-wrapper"
          matTooltip="Cannot edit when request is cancelled"
          [matTooltipDisabled]="driverNotified.enabled"
        >
          <mat-checkbox
            [formControl]="driverNotified"
            (click)="toggleDriverNotified()"
            color="primary"
            labelPosition="before"
          >
            Volunteer notified?
          </mat-checkbox>
        </span>
      </div>

      <div *ngIf="rideRequest!.driverNotifiedBy">
        <p class="label"><strong>Volunteer notified by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              rideRequest!.driverNotifiedById,
              'profile'
            ]"
            >{{ rideRequest!.driverNotifiedBy!.nameWithRetiredStatus }}</a
          >
        </p>
      </div>

      <div *ngIf="rideRequest!.driverNotifiedBy">
        <p class="label"><strong>Volunteer notified on</strong></p>
        <p>{{ rideRequest!.driverNotifiedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="rideRequest!.driverId">
        <span
          class="tooltip-wrapper"
          matTooltip="Cannot edit when request is cancelled"
          [matTooltipDisabled]="clientNotified.enabled"
        >
          <mat-checkbox
            [formControl]="clientNotified"
            (change)="toggleClientNotified()"
            color="primary"
            labelPosition="before"
          >
            Client notified?
          </mat-checkbox>
        </span>
      </div>

      <div *ngIf="rideRequest!.clientNotifiedOfDriverBy">
        <p class="label"><strong>Client notified by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              rideRequest!.clientNotifiedOfDriverById,
              'profile'
            ]"
          >
            {{ rideRequest!.clientNotifiedOfDriverBy!.nameWithRetiredStatus }}
          </a>
        </p>
      </div>

      <div *ngIf="rideRequest!.clientNotifiedOfDriverAt">
        <p class="label"><strong>Client notified on</strong></p>
        <p>
          {{ rideRequest!.clientNotifiedOfDriverAt | date: 'E, MMM d, y' }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="!cancelled; else showCancelledActions" class="profile-actions">
    <mat-card>
      <mat-card-content class="flex-center">
        <button mat-button color="primary" (click)="findDriver()">
          {{ rideRequest!.driver ? 'edit volunteer' : 'find volunteer' }}
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="flex-center">
        <button mat-button [matMenuTriggerFor]="moreOptions">
          More options
        </button>

        <mat-menu #moreOptions="matMenu">
          <button mat-menu-item type="button" (click)="editRideRequest()">
            edit request
          </button>

          <button mat-menu-item type="button" (click)="suggestCarpools()">
            Suggest carpools
          </button>

          <button mat-menu-item type="button">Cancel</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="flex-center">
        <button mat-button color="warn" (click)="cancelRideRequest()">
          cancel request
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #showCancelledActions>
    <div class="profile-actions">
      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button color="primary" (click)="uncancelRideRequest()">
            un-cancel request
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button (click)="editRideRequest()">edit request</button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="flex-center">
          <button mat-button color="warn" (click)="deleteRideRequest()">
            delete request
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>

  <mat-card class="profile-map">
    <mat-card-content>
      <app-iframe [url]="tripUrl"></app-iframe>
    </mat-card-content>
  </mat-card>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Time of request</strong></p>
        <p>{{ rideRequest!.createdAt | date: 'E, MMM d, y @ h:mmaaa' }}</p>
      </div>

      <div>
        <p class="label"><strong>Request taken by</strong></p>
        <p>
          <a
            [routerLink]="[
              '/dispatcher/dispatcher',
              rideRequest!.requestTakenById,
              'profile'
            ]"
            >{{ rideRequest!.requestTakenBy!.nameWithRetiredStatus }}</a
          >
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="padding-24">
    <mat-spinner style="margin: auto"></mat-spinner>
  </div>
</ng-template>
