<div *ngIf="adminForm">
  <h3 mat-dialog-title>Update organization admins</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Admin email addresses</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let control of adminForm!.controls"
            [selectable]="control.enabled"
            [removable]="control.enabled"
            color="{{ control.invalid ? 'warn' : '' }}"
            (removed)="remove(control)"
          >
            {{ control.value }}
            <mat-icon matChipRemove *ngIf="control.enabled">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-hint>
          Note: you can only add email addresses which aren't currently
          associated with an organization and you can't remove your own email
          address.
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" swIsLoading="update-admin" matDialogClose>
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Invalid email address"
      [matTooltipDisabled]="adminForm!.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="update-admin"
        [disabled]="adminForm!.invalid"
        (click)="submit()"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</div>
