<h1>Macros</h1>

<div id="functions-grid">
  <mat-card class="profile">
    <mat-card-title style="margin-bottom: 2rem">
      Suggest possible redistribution of clients to unused volunteers
    </mat-card-title>

    <mat-card-content>
      Using this feature, the Hub will search for currently inactive volunteers.
      The hub will then look at upcoming requests, see how far each request's
      pickup location is from each inactive volunteer, show you the "top 10"
      closest requests for each inactive volunteer. This information could be
      useful when trying to redistribute clients from busy volunteers to
      inactive volunteers.
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-button
        type="button"
        color="primary"
        (click)="redistributionSuggestions()"
      >
        run
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div>
  <mat-card class="profile">
    <mat-card-title style="margin-bottom: 2rem">
      Suggest carpools
    </mat-card-title>

    <mat-card-content>
      <p>
        Because, in practice, shopping for multiple people at the same time is
        difficult, we are limiting carpool suggestions to STP requests for now.
        Additionally, for simplicity, we are limiting carpools to two requests
        and only analyzing the next two weeks. These can be two flexible
        requests, one flexible request and one fixed request, or two fixed
        requests within 2 hours of each other. Additionally, any of the
        following must be true (only needs to satisfy one):
      </p>

      <ul>
        <li>
          Pickup locations should be within 1 mile of each other and
          destinations should be within 3 miles of each other
        </li>

        <li>
          The pickup location of one request is within 1 mile of the final
          destination of another request.
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-button
        type="button"
        color="primary"
        (click)="suggestCarpools()"
      >
        run
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<h1>Frequently Asked Questions</h1>

<mat-accordion class="margin-16">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Find a bug / have a suggestion? </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      If you think you're encountering a bug or you have a suggestion for
      improvement, send an email to
      <a
        href="https://mail.google.com/mail/u/0/?view=cm&to=incoming%2Bsc-volunteer-center-senior-transportation-hub-8690342-issue-@incoming.gitlab.com&body=Hey%2C%0A%0AThis%20is%20YOUR_NAME%20from%20the%20transportation%20desk.%20I%20am%20running%20into%20an%20issue..."
        target="_blank"
      >
        incoming+sc-volunteer-center-senior-transportation-hub-8690342-issue-@incoming.gitlab.com
      </a>
      .
    </p>

    <p>
      If reporting a bug, try to include as much information in the email as you
      can, including:
    </p>

    <ul>
      <li>What you were doing when you ran into the problem.</li>
      <li>What you were trying to accomplish.</li>
      <li>What you expected to happen.</li>
      <li>Any information on how the bug can be re-created.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> How can I delete a ride request? </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Well, first off, in general you shouldn't <em>delete</em> a ride request.
    </p>
    <p>
      If a legitimate ride request is cancelled for any reason, you should
      simply mark it as cancelled but <strong>NOT</strong> delete it. This is
      because we need to tell our funders how many ride requests get cancelled
      each month.
    </p>
    <p>
      <em>
        You should only delete a ride request if you,
        {{ dispatcher?.firstName }} (the dispatcher), messed up while creating
        it and want to immediately delete it and start over.
      </em>

      In this scenerio, you can delete a ride request by first navigating to the
      ride request you wish to delete > marking it as cancelled > then you
      should see a new option to delete the ride request.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> How can I duplicate a ride request? </mat-panel-title>
    </mat-expansion-panel-header>

    <p>You can duplicate a ride request by:</p>

    <ol>
      <li>
        Navigate to the overview page of the specific ride request you wish to
        duplicate.
      </li>
      <li>Clicking the "Edit request" button.</li>
      <li>Clicking the "Duplicate" button.</li>
    </ol>
    <p>
      The ride request will be immediately duplicated and you will be taken to
      the overview page of the new, duplicated ride request. A popup window will
      then automatically open allowing you to edit the duplicate ride request,
      if desired.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How can I flag a ride request as important?
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>You can flag a ride request as important by:</p>

    <ol>
      <li>
        Navigate to the overview page of the specific ride request you wish to
        flag.
      </li>
      <li>Clicking the "Edit request" button.</li>
      <li>Clicking the "Flag" button.</li>
    </ol>
    <p>
      You'll then be prompted to enter some notes explaining why the ride
      request has been flagged. You should include your name so other
      dispatchers know who left the note.
    </p>
    <p>
      When a ride request has been flagged as important, it shows up in the
      "todos" section of the overview page. Additionally, when someone views the
      ride request, they'll see a prominent yellow banner across the top of the
      page containing the note you left.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sometimes when I click on a dropdown menu, two dropdowns appear
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      You are probably running into Google Chrome's native "autofill" behavior.
      It can be really annoying.
    </p>

    <p>
      To disable the autofill in your browser (you'll need to do it for each
      computer you use), you can
      <a
        target="_blank"
        href="http://lmgtfy.com/?q=How+to+disable+Chrome%27s+autofill"
      >
        search for how to disable chrome's autofill</a
      >
      and follow the instructions for disabling autofill for addresses and
      similar things.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Clicking the "email" button to generate a ride request email doesn't
        seem to do anything.
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      When you click the "email" button to generate a ride request email, a new
      browser tab is suppose to open taking you to the "drafts" section of
      Gmail. By default, Google Chrome will block any popups from this webpage,
      which will prevent that new tab from opening (giving the appearance that
      nothing is happening).
    </p>

    <p>To fix:</p>

    <ul>
      <li>At the top of your browser window is the URL (web address) bar.</li>
      <li>
        Inside the URL bar, on the right hand side, should be a "popup blocked"
        icon (I don't remember exactly what it looks like).
      </li>
      <li>
        You need to click that icon and select the option to ~ "never block
        popups rom this website." In order to see this option, you must first
        try and generate an email (which will result in a blocked popup).
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
