@import 'framing';
@import '_color';

:host {
  @extend .padding-24;
}

.mat-card {
  @extend .margin-12;
}

.mat-card-content {
  column-width: unset;
  column-gap: unset;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}
