<h3 mat-dialog-title>Are you sure?</h3>

<mat-dialog-content>
  <p style="margin-top: 0">
    <strong>
      In general, you should never fully delete a volunteer profile.
    </strong>
  </p>
  <p>
    If a volunteer retires / cancels their participation with Volunteer Center
    programs for any reason, you should simply mark them as retired but
    <strong>NOT actually delete them.</strong> A retired volunteer is hidden
    from the system by default, but their information is still accessible for
    historical purposes.
  </p>
  <p>
    <em>
      You should only delete a volunteer profile if you,
      {{ (dispatcher | async)?.firstName }} (the dispatcher), messed up while
      creating it and want to immediately delete it and start over.
    </em>
  </p>
  <p>
    Deleting this volunteer will also delete any and all requests they are
    associated with, and fully remove all traces of the volunteer from the
    system.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button matDialogClose color="primary" type="button">
    Cancel
  </button>

  <div class="flex-1"></div>

  <button
    mat-button
    color="warn"
    type="button"
    swIsLoading="delete-driver"
    (click)="delete()"
  >
    Delete
  </button>
</mat-dialog-actions>
