<form
  *ngIf="rideRequestForm; else loading"
  class="form-field-container"
  [formGroup]="rideRequestForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>
    Edit {{ isDuplicate ? 'Duplicate' : '' }}
    {{ data.requestType === 'RECURRING' ? 'Recurring' : '' }} Request
  </h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <p style="margin-top: 0; margin-bottom: 2rem">
        <small>
          <em>
            A "*" at the end of a field name means it's required. A "<mat-icon
              style="
                font-size: 0.8rem;
                width: 0.5rem;
                height: 1rem;
                padding: 0 0.2rem;
              "
            >
              email </mat-icon
            >" at the end of a field name means that field will automatically be
            included in any request emails you create for drivers.
          </em>
        </small>
      </p>

      <mat-form-field
        appearance="fill"
        matTooltip="You can't edit the client of a request (you'll need to create a new one)"
      >
        <mat-label>Client&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input matInput [value]="rideRequest!.client.name" disabled required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Request made by</mat-label>
        <input matInput formControlName="requestMadeBy" required />
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        matTooltip="Cannot edit flexibility of recurring request"
      >
        <mat-label>
          Is the day and time of this request fixed or is it flexible?
        </mat-label>

        <mat-select formControlName="flexible" required>
          <mat-option [value]="false">It has a FIXED date/time</mat-option>
          <mat-option [value]="true">It has a FLEXIBLE date/time</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container
        [formGroup]="
          data.requestType === 'ONCE'
            ? rideRequestDatetimeForm
            : rideRequestRecurringScheduleForm
        "
      >
        <ng-container *ngIf="data.requestType === 'ONCE'">
          <mat-form-field
            *ngIf="rideRequest.flexible; else notFlexible"
            appearance="fill"
          >
            <mat-label>
              Week of request&nbsp;<mat-icon> email </mat-icon>
            </mat-label>

            <mat-date-range-input [rangePicker]="flexPicker">
              <input
                matStartDate
                formControlName="date"
                readonly
                required
                (click)="flexPicker.open()"
                autocomplete="false"
              />

              <input
                matEndDate
                readonly
                required
                [formControl]="endOfFlexibleRequestControl"
                (click)="flexPicker.open()"
                autocomplete="false"
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              matSuffix
              [for]="flexPicker"
            ></mat-datepicker-toggle>

            <mat-date-range-picker #flexPicker touchUi></mat-date-range-picker>
          </mat-form-field>

          <ng-template #notFlexible>
            <mat-form-field appearance="fill">
              <mat-label>
                Date of request&nbsp;<mat-icon>email</mat-icon>
              </mat-label>

              <input
                matInput
                placeholder="mm/dd/yyyy"
                formControlName="date"
                [matDatepicker]="picker"
                autocomplete="false"
                required
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi></mat-datepicker>
            </mat-form-field>
          </ng-template>
        </ng-container>

        <mat-form-field *ngIf="!rideRequest.flexible" appearance="fill">
          <mat-label>
            Time of appointment &nbsp;<mat-icon>email</mat-icon>
          </mat-label>
          <input
            type="time"
            matInput
            formControlName="time"
            autocomplete="false"
            required
          />
        </mat-form-field>

        <mat-form-field
          *ngIf="data.requestType === 'RECURRING'"
          appearance="fill"
          matTooltip="Cannot edit schedule of recurring request"
        >
          <mat-label>
            How often does this request happen?&nbsp;<mat-icon>
              email
            </mat-icon>
          </mat-label>

          <mat-select formControlName="scheduleName" required>
            <mat-option value="Once a month"> Once a month </mat-option>

            <mat-option value="Once every 3 weeks">
              Once every 3 weeks
            </mat-option>

            <mat-option value="Once every 2 weeks">
              Once every 2 weeks
            </mat-option>

            <mat-option value="Once a week"> Once a week </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field
          *ngIf="data.requestType === 'RECURRING'"
          appearance="fill"
        >
          <mat-label>
            Optionally, is there an end date for this recurring
            request?&nbsp;<mat-icon>email</mat-icon>
          </mat-label>

          <input
            matInput
            placeholder="mm/dd/yyyy"
            formControlName="endDate"
            [matDatepicker]="recurringEndDatePicker"
            autocomplete="false"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="recurringEndDatePicker"
          ></mat-datepicker-toggle>

          <mat-datepicker #recurringEndDatePicker touchUi></mat-datepicker>
        </mat-form-field> -->
      </ng-container>

      <mat-form-field *ngIf="rideRequest.flexible" appearance="fill">
        <mat-label>
          Describe when this request can happen&nbsp;<mat-icon>
            email
          </mat-icon>
        </mat-label>

        <textarea
          matInput
          matTextareaAutosize
          formControlName="flexibleSchedule"
          required
        ></textarea>

        <mat-hint> e.g. "Tuesdays or Thursdays between 1 and 4pm" </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Trip priority</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option value="low">Low</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="high">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pickup address&nbsp;<mat-icon>email</mat-icon></mat-label>

        <mat-select
          [formControl]="pickupAddressChooser"
          required
          autocomplete="false"
        >
          <mat-option value="standard">Client's standard address</mat-option>
          <mat-option value="other">A non-standard address</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container
        *ngIf="pickupAddressChooser.value === 'other'"
        [formGroup]="pickupAddress"
      >
        <h5>Custom pickup address</h5>

        <mat-form-field appearance="fill">
          <mat-label>
            Pickup location name&nbsp;<mat-icon>email</mat-icon>
          </mat-label>
          <input matInput formControlName="label" autocomplete="false" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pickup street&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input
            matInput
            formControlName="street"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>
            Pickup apartment/space number&nbsp;<mat-icon>email</mat-icon>
          </mat-label>
          <input
            matInput
            formControlName="apartmentNumber"
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pickup city&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input
            matInput
            formControlName="city"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pickup zip&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input matInput formControlName="zip" required autocomplete="false" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>
            Other pickup address info&nbsp;<mat-icon>email</mat-icon>
          </mat-label>
          <textarea
            matInput
            matTextareaAutosize
            formControlName="comments"
          ></textarea>
        </mat-form-field>
      </ng-container>

      <h3>Destination(s)</h3>
      <p style="margin-top: 0">The order of the destinations matters.</p>

      <ng-container
        *ngFor="
          let destinationAddressForm of destinationAddresses.controls;
          index as i
        "
      >
        <div class="flex-center">
          <h5>{{ addressNumber(i) }} destination</h5>

          <div class="flex-1"></div>

          <div *ngIf="i !== 0">
            <button
              mat-button
              color="warn"
              type="button"
              [matMenuTriggerFor]="removeConfirmation"
            >
              Remove {{ addressNumber(i) | lowercase }} destination
            </button>

            <mat-menu #removeConfirmation="matMenu">
              <button
                mat-menu-item
                type="button"
                (click)="removeDestination(i)"
              >
                Confirm
              </button>
              <button mat-menu-item type="button">Cancel</button>
            </mat-menu>
          </div>
        </div>

        <mat-form-field appearance="fill" [formGroup]="destinationAddressForm">
          <mat-label>
            {{ addressNumber(i) }} destination address&nbsp;
            <mat-icon>email</mat-icon>
          </mat-label>

          <input
            matInput
            #destinationInput="matInput"
            type="text"
            formControlName="address"
            [matAutocomplete]="destinationAuto"
            autocomplete="false"
            (keyup)="filterFavoriteDestinations(destinationInput, i)"
            (blur)="destinationAddressInputBlurred(i)"
            required
          />

          <mat-error>
            You need to select one of the drop down options.
          </mat-error>
        </mat-form-field>

        <mat-autocomplete
          #destinationAuto="matAutocomplete"
          [displayWith]="destinationAddressDisplayFn"
        >
          <mat-option value="other">A custom address</mat-option>
          <mat-option
            *ngFor="let destination of filteredFavoriteDestinations[i]"
            [value]="destination"
          >
            {{ destination.label }}, {{ destination.street }}
          </mat-option>
        </mat-autocomplete>

        <app-select-other
          [formControl]="destinationAddressForm.get('tripPurpose')"
          [options]="['Grocery Shopper Program', 'Doctor', 'Shopping']"
          [allowCustomOption]="true"
          label="Trip purpose"
          otherLabel='Explain "other" purpose'
          [required]="true"
          includedInGeneratedEmail
        >
        </app-select-other>

        <ng-template [ngIf]="otherDestinationAddresses[i]">
          <mat-form-field
            [formGroup]="otherDestinationAddresses[i]"
            appearance="fill"
          >
            <mat-label>
              {{ addressNumber(i) }} destination location name&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input matInput formControlName="label" autocomplete="false" />
          </mat-form-field>

          <mat-form-field
            [formGroup]="otherDestinationAddresses[i]"
            appearance="fill"
          >
            <mat-label>
              {{ addressNumber(i) }} destination street&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="street"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field
            [formGroup]="otherDestinationAddresses[i]"
            appearance="fill"
          >
            <mat-label>
              {{ addressNumber(i) }} destination apartment/space number&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="apartmentNumber"
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field
            [formGroup]="otherDestinationAddresses[i]"
            appearance="fill"
          >
            <mat-label>
              {{ addressNumber(i) }} destination city&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="city"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field
            [formGroup]="otherDestinationAddresses[i]"
            appearance="fill"
          >
            <mat-label>
              {{ addressNumber(i) }} destination zip&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="zip"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field
            [formGroup]="otherDestinationAddresses[i]"
            appearance="fill"
          >
            <mat-label>
              Special directions for
              {{ addressNumber(i) | lowercase }} destination&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <textarea
              matInput
              matTextareaAutosize
              formControlName="comments"
            ></textarea>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <div *ngIf="destinationAddresses.length < 5" style="margin-left: -1rem">
        <button
          mat-button
          color="primary"
          type="button"
          (click)="addDestination()"
        >
          Add another destination
        </button>
      </div>

      <h3 style="margin-top: 2rem">Anything else?</h3>

      <mat-form-field appearance="fill">
        <mat-label> Number of people impacted </mat-label>

        <input
          matInput
          type="number"
          formControlName="peopleImpacted"
          required
        />

        <mat-hint>
          e.g. maybe this client is also requesting groceries for family
          members.
        </mat-hint>
      </mat-form-field>

      <mat-form-field
        *ngIf="rideRequestForm.value.peopleImpacted > 1"
        appearance="fill"
      >
        <mat-label> Who else benefits from this request? </mat-label>

        <textarea
          matInput
          matTextareaAutosize
          formControlName="peopleImpactedDescription"
          required
        ></textarea>

        <mat-hint> e.g. the client's husband </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Other information&nbsp;<mat-icon>email</mat-icon>
        </mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      matDialogClose
      type="button"
      swIsLoading="edit-ride-request"
    >
      {{ isDuplicate ? 'Done' : 'Cancel' }}
    </button>

    <span
      matTooltip="John disabled the ability to duplicate recurring requests. Reach out to him you want this feature back."
    >
      <button mat-button type="button" swIsLoading="edit-ride-request" disabled>
        Duplicate
      </button>
    </span>

    <!-- <span
      matTooltip="Can't duplicate recurring request"
      [matTooltipDisabled]="!rideRequest!.recurringRideRequestId"
    >
      <button
        mat-button
        type="button"
        swIsLoading="edit-ride-request"
        [matMenuTriggerFor]="duplicateMenu"
        [disabled]="!!rideRequest!.recurringRideRequestId"
      >
        Duplicate
      </button>
    </span> -->

    <mat-menu
      #duplicateMenu="matMenu"
      class="drop-calendar"
      (closed)="selectedDupDates = []; calendar.updateTodaysDate()"
    >
      <div (click)="$event.stopPropagation()">
        <mat-calendar
          #calendar
          [startAt]="rideRequest.datetime"
          [dateFilter]="dupDateFilter"
          [dateClass]="isDupDateSelected"
          (selectedChange)="selectDupDate($event, calendar)"
        ></mat-calendar>
      </div>

      <div style="display: flex">
        <button mat-button type="button">Cancel</button>

        <div class="flex-1"></div>

        <button
          mat-button
          type="button"
          color="primary"
          [disabled]="selectedDupDates.length === 0"
          (click)="duplicate(selectedDupDates)"
        >
          Create
        </button>
      </div>
    </mat-menu>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form is invalid"
      [matTooltipDisabled]="!invalid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="edit-ride-request"
        [disabled]="pristine || invalid"
      >
        Update
      </button>
    </span>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <div class="padding-24 flex-center"><mat-spinner></mat-spinner></div>
</ng-template>
