@use '@angular/material' as mat;
@import '_color';

::ng-deep {
  body {
    .mat-calendar-body-cell {
      &.mat-calendar-body-disabled {
        .mat-calendar-body-cell-content {
          background-color: map-get(mat.$deep-purple-palette, 300);
          color: white;
        }
      }

      &.dup-date-selected {
        .mat-calendar-body-cell-content {
          background-color: map_get($mat-vc-teal, 500);
          color: white;
        }

        &:not(.mat-calendar-body-disabled):hover {
          .mat-calendar-body-cell-content {
            background-color: map_get($mat-vc-teal, 600);
          }
        }
      }
    }
  }
}
