<div class="filter-bar side-padding-24">
  <div class="flex-1"></div>

  <div>
    <button mat-button (click)="addTag()">Add tag</button>
  </div>
</div>

<mat-form-field
  appearance="standard"
  class="side-margin-24"
  style="margin-bottom: 0.5rem"
>
  <button
    *ngIf="searchControl.value !== ''"
    mat-icon-button
    matPrefix
    (click)="searchControl.patchValue('')"
  >
    <mat-icon>close</mat-icon>
  </button>

  <input matInput [formControl]="searchControl" placeholder="Search" />
</mat-form-field>

<mat-table
  [dataSource]="filteredTags"
  class="margin-24"
  swScrollPosition="loading-tags"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.label }} </mat-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.color }} </mat-cell>
  </ng-container>

  <!-- Favorite Column -->
  <ng-container matColumnDef="favorite">
    <mat-header-cell *matHeaderCellDef> Favorite </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.favorite }} </mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="flex-3">
      Description
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-3">
      {{ row.description }}
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="
      ['name', 'color', 'favorite', 'description'];
      sticky: true
    "
  ></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: ['name', 'color', 'favorite', 'description']"
    (click)="navigateToPath($event, ['/dispatcher/tag', row.uid, 'profile'])"
    class="anchor-row"
  >
  </mat-row>
</mat-table>
