<form
  *ngIf="retirementForm"
  [formGroup]="retirementForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Retire client</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Why is this client being retired?</mat-label>
        <textarea matInput formControlName="retiredReason" required></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="retire-client"
      (click)="close()"
    >
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="retirementForm.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="retire-client"
        [disabled]="retirementForm.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
