<mat-spinner
  *ngIf="!clientForm; else showForm"
  style="margin: auto"
></mat-spinner>

<ng-template #showForm>
  <form
    [formGroup]="clientForm"
    (ngSubmit)="submit()"
    novalidate
    autocomplete="off"
  >
    <h3 mat-dialog-title>Edit Client</h3>

    <mat-dialog-content>
      <div class="form-field-container">
        <p style="margin-top: 0; margin-bottom: 2rem">
          <small>
            <em>
              A "*" at the end of a field name means it's required. A "<mat-icon
                style="
                  font-size: 0.8rem;
                  width: 0.5rem;
                  height: 1rem;
                  padding: 0 0.2rem;
                "
              >
                email </mat-icon
              >" at the end of a field name means that field will automatically
              be included in any ride request emails you create which involve
              this client.
            </em>
          </small>
        </p>

        <mat-form-field appearance="fill">
          <mat-label>First name&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input type="text" matInput formControlName="firstName" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nickname&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input type="text" matInput formControlName="nickname" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Middle name&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input type="text" matInput formControlName="middleName" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last name&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input type="text" matInput formControlName="lastName" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone number&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input type="text" matInput formControlName="phoneNumber" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email address</mat-label>
          <input type="text" matInput formControlName="emailAddress" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Birthdate</mat-label>
          <input
            matInput
            formControlName="birthdate"
            [matDatepicker]="birthdatePicker"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="birthdatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #birthdatePicker touchUi></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Do you receive Medi-CAL or SSI?</mat-label>
          <mat-select formControlName="mediCalOrSsi" required>
            <mat-option [value]="false">No</mat-option>
            <mat-option [value]="true">Yes</mat-option>
          </mat-select>
        </mat-form-field>

        <app-select-other
          [formControl]="clientForm!.get('ethnicity')"
          [options]="[
            'Decline to state',
            'Asian',
            'African American',
            'Caucasian',
            'Latino',
            'Pacific Islander',
            'Native American'
          ]"
          [allowCustomOption]="true"
          label="Optionally, how do you identify your race or ethnicity?"
          otherLabel='Explain "other"'
          [required]="true"
        >
        </app-select-other>

        <ng-container
          *ngFor="let answer of currentAnswers"
          [ngSwitch]="answer.question.type"
        >
          <mat-form-field
            *ngSwitchCase="'boolean'"
            [formGroup]="answer.answer"
            appearance="fill"
          >
            <mat-label>{{ answer.question.text }}</mat-label>
            <mat-select formControlName="answer">
              <mat-option [value]="false">No</mat-option>
              <mat-option [value]="true">Yes</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container
            *ngSwitchCase="'text'"
            [ngSwitch]="answer.question.valueType"
          >
            <mat-form-field
              *ngSwitchCase="'text'"
              [formGroup]="answer.answer"
              appearance="fill"
            >
              <mat-label>{{ answer.question.text }}</mat-label>
              <input type="text" matInput formControlName="answer" />
            </mat-form-field>

            <mat-form-field
              *ngSwitchCase="'integer'"
              [formGroup]="answer.answer"
              appearance="fill"
            >
              <mat-label>{{ answer.question.text }}</mat-label>
              <input type="number" matInput formControlName="answer" />
            </mat-form-field>

            <mat-form-field
              *ngSwitchCase="'date'"
              [formGroup]="answer.answer"
              appearance="fill"
            >
              <mat-label>{{ answer.question.text }}</mat-label>
              <input
                matInput
                formControlName="answer"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi></mat-datepicker>
            </mat-form-field>
          </ng-container>

          <app-select-other
            *ngSwitchCase="'select'"
            [formControl]="answer.answer.get('answer')"
            [options]="answer.question.options"
            [allowCustomOption]="answer.question.allowOther"
            [label]="answer.question.text"
            otherLabel='Explain "other"'
            [required]="false"
          >
          </app-select-other>

          <ng-template [ngSwitchCase]="'section-break'">
            <h5>{{ answer.question.text }}</h5>
            <p
              *ngIf="answer.question.body"
              style="margin-top: 0; margin-bottom: 1.5rem"
            >
              <em>{{ answer.question.body }}</em>
            </p>
          </ng-template>
        </ng-container>

        <h5>Client's Address</h5>

        <mat-form-field
          [formGroup]="clientForm.get('address')"
          appearance="fill"
        >
          <mat-label>Street&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input matInput formControlName="street" required />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('address')"
          appearance="fill"
        >
          <mat-label>
            Apartment Number / Space&nbsp;
            <mat-icon>email</mat-icon>
          </mat-label>
          <input matInput formControlName="apartmentNumber" />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('address')"
          appearance="fill"
        >
          <mat-label>City&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input matInput formControlName="city" required />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('address')"
          appearance="fill"
        >
          <mat-label>Zip&nbsp;<mat-icon>email</mat-icon></mat-label>
          <input matInput formControlName="zip" required />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('address')"
          appearance="fill"
        >
          <mat-label>
            Any special directions?&nbsp;
            <mat-icon>email</mat-icon>
          </mat-label>
          <textarea
            matInput
            matTextareaAutosize
            formControlName="comments"
          ></textarea>
        </mat-form-field>

        <h5>Add tags</h5>
        <p style="margin-top: 0; margin-bottom: 1.5rem">
          <em>
            To make it easier to find this client in the future, please select
            the appropriate tags for this client's profile.
          </em>
        </p>

        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-select formControlName="tagIds" multiple>
            <mat-option *ngFor="let tag of clientTags" [value]="tag.uid">
              ({{ tag.label }}) {{ tag.description }}
            </mat-option>
          </mat-select>
          <mat-hint> Select all that apply </mat-hint>
        </mat-form-field>

        <h5>Anything else?</h5>

        <mat-form-field appearance="fill">
          <mat-label>
            Default number of people impacted by this client's requests
          </mat-label>

          <input
            matInput
            type="number"
            formControlName="defaultPeopleImpacted"
            required
          />

          <mat-hint>
            e.g. maybe this client lives with family members that also benefit
            from requests.
          </mat-hint>
        </mat-form-field>

        <mat-form-field
          *ngIf="clientForm.value.defaultPeopleImpacted > 1"
          appearance="fill"
        >
          <mat-label>
            Who else generally benefits from this client's requests?
          </mat-label>

          <textarea
            matInput
            matTextareaAutosize
            formControlName="defaultPeopleImpactedDescription"
            required
          ></textarea>

          <mat-hint> e.g. the client's husband </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Client restrictions</mat-label>
          <textarea
            matInput
            matTextareaAutosize
            formControlName="restrictions"
          ></textarea>
          <mat-hint>
            e.g. Prefers not to be driven by a specific driver.
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>
            Other information&nbsp;<mat-icon>email</mat-icon>
          </mat-label>
          <textarea
            matInput
            matTextareaAutosize
            formControlName="comments"
          ></textarea>
          <mat-hint>
            Stuff that should be shared with drivers. e.g. Is allergic to dogs.
          </mat-hint>
        </mat-form-field>

        <div
          class="outdated-questions form-field-container"
          *ngIf="oldAnswers.length > 0"
        >
          <h3>Outdated questions</h3>
          <p>
            <em>
              If you remove the answer for one of the outdated questions below,
              the question will also be removed from this client's profile.
            </em>
          </p>

          <ng-container
            *ngFor="let answer of oldAnswers"
            [ngSwitch]="answer.question.type"
          >
            <mat-form-field
              *ngSwitchCase="'boolean'"
              [formGroup]="answer.answer"
              appearance="fill"
            >
              <mat-label>{{ answer.question.text }}</mat-label>
              <mat-select formControlName="answer">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option>Remove answer</mat-option>
              </mat-select>
            </mat-form-field>

            <ng-container
              *ngSwitchCase="'text'"
              [ngSwitch]="answer.question.valueType"
            >
              <mat-form-field
                *ngSwitchCase="'text'"
                [formGroup]="answer.answer"
                appearance="fill"
              >
                <mat-label>{{ answer.question.text }}</mat-label>
                <input type="text" matInput formControlName="answer" />
              </mat-form-field>

              <mat-form-field
                *ngSwitchCase="'integer'"
                [formGroup]="answer.answer"
                appearance="fill"
              >
                <mat-label>{{ answer.question.text }}</mat-label>
                <input type="number" matInput formControlName="answer" />
              </mat-form-field>

              <mat-form-field
                *ngSwitchCase="'date'"
                [formGroup]="answer.answer"
                appearance="fill"
              >
                <mat-label>{{ answer.question.text }}</mat-label>
                <input
                  matInput
                  formControlName="answer"
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker touchUi></mat-datepicker>
              </mat-form-field>
            </ng-container>

            <app-select-other
              *ngSwitchCase="'select'"
              [formControl]="answer.answer.get('answer')"
              [options]="answer.question.options"
              [allowCustomOption]="answer.question.allowOther"
              [hasDeselectOption]="true"
              [label]="answer.question.text"
              otherLabel='Explain "other"'
              [required]="false"
            >
            </app-select-other>

            <ng-template [ngSwitchCase]="'section-break'">
              <h5>{{ answer.question.text }}</h5>
              <p
                *ngIf="answer.question.body"
                style="margin-top: 0; margin-bottom: 1.5rem"
              >
                <em>{{ answer.question.body }}</em>
              </p>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        mat-button
        type="button"
        swIsLoading="edit-client"
        (click)="close()"
      >
        Cancel
      </button>

      <div class="flex-1"></div>

      <span
        class="tooltip-wrapper"
        matTooltip="Form incomplete"
        [matTooltipDisabled]="clientForm!.valid"
      >
        <button
          mat-raised-button
          color="accent"
          swIsLoading="edit-client"
          [disabled]="clientForm!.invalid"
        >
          Save
        </button>
      </span>
    </mat-dialog-actions>
  </form>
</ng-template>
