<div>
  <div style="display: flex">
    <mat-card class="flex-1">
      <mat-card-title>
        {{ clients.length }} potential
        {{ clients.length === 1 ? 'client' : 'clients' }}
      </mat-card-title>
    </mat-card>

    <mat-card class="flex-1">
      <mat-card-title>
        {{ drivers.length }} potential
        {{ drivers.length === 1 ? 'driver' : 'drivers' }}
      </mat-card-title>
    </mat-card>

    <mat-card class="flex-1">
      <mat-card-title>
        {{ dispatchers.length }}
        {{ dispatchers.length === 1 ? 'dispatcher' : 'dispatchers' }}
      </mat-card-title>
    </mat-card>
  </div>
</div>

<mat-card>
  <mat-card-title>Rides</mat-card-title>
  <mat-card-subtitle>Past 12 months</mat-card-subtitle>

  <mat-card-content>
    <div *ngIf="!ridesChartData; else showRides" class="flex-center">
      <button
        mat-button
        type="button"
        color="primary"
        (click)="showRidesChart()"
      >
        Show chart
      </button>
    </div>

    <ng-template #showRides>
      <canvas
        baseChart
        *ngIf="ridesChartData!.length > 0; else ridesLoading"
        [datasets]="ridesChartData"
        [labels]="chartMonthLabels"
        [options]="barChartOptions"
        [legend]="true"
        chartType="bar"
      >
      </canvas>

      <ng-template #ridesLoading>
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-template>
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Requests</mat-card-title>
  <mat-card-subtitle>Past 12 months</mat-card-subtitle>

  <mat-card-content>
    <div *ngIf="!requestsChartData; else showRequests" class="flex-center">
      <button
        mat-button
        type="button"
        color="primary"
        (click)="showRequestsChart()"
      >
        Show chart
      </button>
    </div>

    <ng-template #showRequests>
      <canvas
        baseChart
        *ngIf="requestsChartData!.length > 0; else requestsLoading"
        [datasets]="requestsChartData"
        [labels]="chartMonthLabels"
        [options]="barChartOptions"
        [legend]="true"
        chartType="bar"
      >
      </canvas>

      <ng-template #requestsLoading>
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-template>
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Miles Driven</mat-card-title>
  <mat-card-subtitle>Past 12 months</mat-card-subtitle>

  <mat-card-content>
    <div
      *ngIf="!driverMilesChartData; else showDriverMiles"
      class="flex-center"
    >
      <button
        mat-button
        type="button"
        color="primary"
        (click)="showDriverMilesChart()"
      >
        Show chart
      </button>
    </div>

    <ng-template #showDriverMiles>
      <canvas
        baseChart
        *ngIf="driverMilesChartData!.length > 0; else driverVolunteerismLoading"
        [datasets]="driverMilesChartData"
        [labels]="chartMonthLabels"
        [options]="barChartOptions"
        [legend]="true"
        chartType="bar"
      >
      </canvas>

      <ng-template #driverVolunteerismLoading>
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-template>
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Dispatcher Hours</mat-card-title>
  <mat-card-subtitle>Past 12 months</mat-card-subtitle>

  <mat-card-content>
    <div
      *ngIf="!dispatcherHoursChartData; else showDispatcherHours"
      class="flex-center"
    >
      <button
        mat-button
        type="button"
        color="primary"
        (click)="showDispatcherHoursChart()"
      >
        Show chart
      </button>
    </div>

    <ng-template #showDispatcherHours>
      <canvas
        baseChart
        *ngIf="
          dispatcherHoursChartData!.length > 0;
          else dispatcherHoursLoading
        "
        [datasets]="dispatcherHoursChartData"
        [labels]="chartMonthLabels"
        [options]="barChartOptions"
        [legend]="true"
        chartType="bar"
      >
      </canvas>

      <ng-template #dispatcherHoursLoading>
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-template>
    </ng-template>
  </mat-card-content>
</mat-card>
<!-- 
<mat-card>
  <mat-card-title>Volunteer of the Month</mat-card-title>
  <mat-card-subtitle>Past 3 months</mat-card-subtitle>

  <mat-card-content>
    <mat-tree>
      <mat-nested-tree-node>
        October 2018
        
        <mat-nested-tree-node>
          MVP Dispatcher
          <mat-nested-tree-node>Name: </mat-nested-tree-node>
          <mat-nested-tree-node>Estimated hours: </mat-nested-tree-node>
        </mat-nested-tree-node>

        <mat-nested-tree-node>
          MVP Drivers

          <mat-nested-tree-node>
            By miles driven:

            <mat-nested-tree-node>Name: </mat-nested-tree-node>
            <mat-nested-tree-node>Estimated hours: </mat-nested-tree-node>  
          </mat-nested-tree-node>
          
          <mat-nested-tree-node>
            By ride requests: 

            <mat-nested-tree-node>Name: </mat-nested-tree-node>
            <mat-nested-tree-node>Estimated hours: </mat-nested-tree-node>  
          </mat-nested-tree-node>

          <mat-nested-tree-node>
            By destinations:

            <mat-nested-tree-node>Name: </mat-nested-tree-node>
            <mat-nested-tree-node>Estimated hours: </mat-nested-tree-node>  
          </mat-nested-tree-node>
        </mat-nested-tree-node>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-card-content>
</mat-card>
   -->
