<div class="filter-bar side-padding-24">
  <div class="flex-1"></div>

  <div>
    <button mat-button (click)="addDestination()">
      Add favorite destination
    </button>
  </div>
</div>

<mat-form-field
  appearance="standard"
  class="side-margin-24"
  style="margin-bottom: 0.5rem"
>
  <button
    *ngIf="searchControl.value !== ''"
    mat-icon-button
    matPrefix
    (click)="searchControl.patchValue('')"
  >
    <mat-icon>close</mat-icon>
  </button>

  <input matInput [formControl]="searchControl" placeholder="Search" />
</mat-form-field>

<mat-table
  [dataSource]="filteredDestinations"
  class="margin-24"
  swScrollPosition="loading-destinations"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.label }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef class="flex-3">
      Address
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-3">
      {{ row.toString() }}
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['name', 'address']; sticky: true"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: ['name', 'address']"
    (click)="
      navigateToPath($event, ['/dispatcher/destination', row.uid, 'profile'])
    "
    class="anchor-row"
  >
  </mat-row>
</mat-table>
