<form
  [formGroup]="dispatcherForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>New Dispatcher Info</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <p style="margin-top: 0; margin-bottom: 2rem;">
        <small
          ><em>
            Note: an asterix ("*") at the end of a field name means it's
            required.
          </em></small
        >
      </p>

      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input
          matInput
          formControlName="firstName"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Middle name</mat-label>
        <input matInput formControlName="middleName" autocomplete="false" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input
          matInput
          formControlName="lastName"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" autocomplete="false" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="emailAddress" autocomplete="false" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="notes"
          autocomplete="false"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" swIsLoading (click)="close()">
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="dispatcherForm.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading
        [disabled]="dispatcherForm.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
