<form
  *ngIf="tagForm; else loading"
  [formGroup]="tagForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Add tag</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <p style="margin-top: 0; margin-bottom: 2rem">
        <small
          ><em>
            Note: an asterix ("*") at the end of a field name means it's
            required.
          </em></small
        >
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="label" autocomplete="false" required />
        <mat-hint>
          Note: it's important for other dispatchers to be able to understand
          the name
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <mat-select formControlName="color" required>
          <mat-option *ngFor="let color of colors" [value]="color">
            <span style="display: none">{{ color }}</span>
            <div
              class="color-option"
              [style.backgroundColor]="TAG_COLORS.get(color)"
            ></div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Favorite</mat-label>
        <mat-select formControlName="favorite" required>
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-hint>
          If a tag is only useful sometimes (e.g. "Received GSP Survey"), it
          should NOT be a favorite.
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" swIsLoading="add-tag" (click)="close()">
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="tagForm.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="add-tag"
        [disabled]="tagForm.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <div class="paddin-24"><mat-spinner style="margin: auto"></mat-spinner></div>
</ng-template>
