<div *ngIf="clientContacts">
  <h3 mat-dialog-title>Edit client contacts</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <ng-container
        *ngFor="let clientContact of clientContacts.controls; index as i"
      >
        <div class="flex-center">
          <h4>{{ contactNumber(i) }} contact</h4>

          <div class="flex-1"></div>

          <button
            mat-button
            color="warn"
            type="button"
            [matMenuTriggerFor]="removeConfirmation"
          >
            Remove {{ contactNumber(i) | lowercase }} contact
          </button>

          <mat-menu #removeConfirmation="matMenu">
            <button mat-menu-item type="button" (click)="removeContact(i)">
              Confirm
            </button>
            <button mat-menu-item type="button">Cancel</button>
          </mat-menu>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>
            Label for {{ contactNumber(i) | lowercase }} contact
          </mat-label>

          <input
            type="text"
            matInput
            [formControl]="clientContact.get('label')"
            required
            autocomplete="false"
          />

          <mat-hint>
            e.g. "Emergency Contact" or "Social Worker"
          </mat-hint>
        </mat-form-field>

        <mat-form-field [formGroup]="clientContact" appearance="fill">
          <mat-label>{{ contactNumber(i) }} contact's first name</mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field [formGroup]="clientContact" appearance="fill">
          <mat-label>{{ contactNumber(i) }} contact's last name</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field [formGroup]="clientContact" appearance="fill">
          <mat-label>{{ contactNumber(i) }} contact's phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phoneNumber"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field [formGroup]="clientContact" appearance="fill">
          <mat-label>
            {{ contactNumber(i) }} contact's relationship to client
          </mat-label>

          <input
            type="text"
            matInput
            formControlName="relationshipToPerson"
            required
            autocomplete="false"
          />
        </mat-form-field>
      </ng-container>

      <div
        *ngIf="clientContacts.length < 7"
        style="margin-left: -1rem; margin-bottom: 2rem"
      >
        <button mat-button color="primary" type="button" (click)="addContact()">
          Add another client contact
        </button>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="edit-client-contacts"
      matDialogClose
    >
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="clientContacts!.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="edit-client-contacts"
        [disabled]="clientContacts!.invalid"
        (click)="submit()"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</div>
