@import 'framing';
@import '_color';

:host {
  overflow: hidden;
  @extend .flex-column;
  flex: 1;

  // this is a hack to ensure that the message container height is set
  // by the surrounding profile info and not the messages themselves
  // parent container must have "position: relative"
  position: absolute;
  height: calc(100% - 3rem);
  width: calc(100% - 2rem);
  top: 2rem;
}

.message-viewer {
  @extend .vertical-margin-8;

  overflow-y: auto;
  flex: 1;
  height: 100%;
}

.app-thread {
  margin-top: 1.5rem;
}

.app-thread:first-child {
  margin-top: 0.5rem;
}
