<div #messageViewerDiv class="message-viewer flex-column">
  <app-thread
    *ngFor="let thread of noteThreads; trackBy: trackByID"
    [thread]="thread"
    [viewingAs]="viewingAs"
    class="app-thread"
    (replyToNote)="replyToNoteOutput.emit($event)"
    (editNote)="editNoteOutput.emit($event)"
    (flagNote)="flagNoteOutput.emit($event)"
    (deleteNote)="deleteNoteOutput.emit($event)"
  ></app-thread>
</div>

<div class="controls flex-column">
  <div class="flex-row">
    <ng-content></ng-content>
  </div>
</div>
