<div mat-dialog-title>
  <h3>Add request {{ possibleDuplicate ? '(POSSIBLE DUPLICATE!)' : '' }}</h3>

  <p *ngIf="possibleDuplicate">
    <em>
      <a
        [routerLink]="[
          '/dispatcher/ride-request',
          possibleDuplicate,
          'overview'
        ]"
        (click)="close()"
      >
        Another {{ requestType.value }} request
      </a>
      with the same Date, Time, and Client already exists.
    </em>
  </p>
</div>

<form [formGroup]="control" (ngSubmit)="submit()" novalidate autocomplete="off">
  <mat-dialog-content>
    <div class="form-field-container">
      <p style="margin-top: 0; margin-bottom: 2rem">
        <small>
          <em>
            A "*" at the end of a field name means it's required. A "<mat-icon
              style="
                font-size: 0.8rem;
                width: 0.5rem;
                height: 1rem;
                padding: 0 0.2rem;
              "
            >
              email </mat-icon
            >" at the end of a field name means that field will automatically be
            included in any request emails you create for volunteers.
          </em>
        </small>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Client&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          matInput
          type="text"
          formControlName="client"
          [matAutocomplete]="auto"
          (blur)="clientSelectionCallback()"
          autocomplete="false"
          required
        />
        <mat-hint>
          Don't see the client? They must be new.
          <a (click)="addClient()">Click here to add a new client.</a>
        </mat-hint>
      </mat-form-field>

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="clientDisplayFn"
        (closed)="clientSelectionCallback()"
      >
        <mat-option *ngFor="let client of filteredClients" [value]="client">
          {{ client.nameWithRetiredStatus }}
        </mat-option>
      </mat-autocomplete>

      <ng-container *ngIf="flaggedThreads.length > 0">
        <div
          *ngFor="let thread of flaggedThreads; trackBy: trackByID"
          class="padding-12 add-ride-request-context-warning"
        >
          <p style="display: inline-flex; align-items: center">
            <mat-icon style="margin-right: 0.5rem">warning</mat-icon> Client has
            flag
          </p>

          <ul>
            <li *ngFor="let note of thread.notes; trackBy: trackByID">
              <span [innerHTML]="renderNote(note.text)"></span> -
              {{ note.dispatcher!.nameWithRetiredStatus }} @
              {{ note.createdAtText }}
            </li>
          </ul>
        </div>
      </ng-container>

      <mat-form-field appearance="fill">
        <mat-label>Request made by</mat-label>
        <mat-select #requestMadeBy formControlName="requestMadeBy" required>
          <mat-option value="client">Client</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="requestMadeBy.value === 'other'" appearance="fill">
        <mat-label>Request maker</mat-label>
        <input
          matInput
          formControlName="requestMadeByName"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>What is being asked of the volunteer?</mat-label>
        <mat-select #requestType formControlName="requestType" required>
          <mat-option value="STP"> Drive the client somewhere </mat-option>
          <mat-option value="GSP">
            Go grocery shopping on behalf of the client
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Is this a recurring request?</mat-label>

        <mat-select #requestSchedule formControlName="requestSchedule" required>
          <mat-option value="ONCE">One-time request</mat-option>
          <mat-option value="RECURRING">Recurring request</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Is the day and time of this request fixed or is it flexible?
        </mat-label>

        <mat-select #requestFlexibility formControlName="flexible" required>
          <mat-option [value]="false">It has a FIXED date/time</mat-option>
          <mat-option [value]="true">It has a FLEXIBLE date/time</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container
        *ngIf="requestSchedule.value === 'ONCE'"
        formGroupName="scheduleOnce"
      >
        <ng-container *ngIf="requestFlexibility.value === false">
          <mat-form-field appearance="fill">
            <mat-label>
              Date of request&nbsp;<mat-icon>email</mat-icon>
            </mat-label>

            <input
              matInput
              placeholder="mm/dd/yyyy"
              formControlName="date"
              [matDatepicker]="picker"
              autocomplete="false"
              required
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>

            <mat-datepicker #picker touchUi></mat-datepicker>
          </mat-form-field>

          <div
            *ngIf="requestTooFarInAdvance"
            class="padding-12 add-ride-request-context-warning"
          >
            <p>
              It looks like this request is being made more than 4 weeks in
              advance. In general, we don't want to take requests this far in
              advance (<a
                href="https://docs.google.com/document/d/1FfY2xJhzSHAbL6rbue4JRfHoCvpm8vg7_tpQ8hZ0JdM/edit#heading=h.jlmobqnavwap"
                target="_blank"
                >more information</a
              >).
              <strong>
                Unless you have a specific reason to make an exception, ask the
                client to call us back 3 weeks in advance and schedule the
                request at that time.
              </strong>
            </p>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>
              Time of appointment&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>

            <input
              type="time"
              matInput
              formControlName="time"
              autocomplete="false"
              required
            />
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="requestFlexibility.value === true">
          <mat-form-field appearance="fill">
            <mat-label>
              Week of request&nbsp;<mat-icon> email </mat-icon>
            </mat-label>

            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="date"
                readonly
                required
                (click)="picker.open()"
                autocomplete="false"
              />

              <input
                matEndDate
                readonly
                required
                (click)="picker.open()"
                autocomplete="false"
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>

            <mat-date-range-picker #picker touchUi></mat-date-range-picker>
          </mat-form-field>

          <div
            *ngIf="requestTooFarInAdvance"
            class="padding-12 add-ride-request-context-warning"
          >
            <p>
              It looks like this request is being made more than 4 weeks in
              advance. In general, we don't want to take requests this far in
              advance (<a
                href="https://docs.google.com/document/d/1FfY2xJhzSHAbL6rbue4JRfHoCvpm8vg7_tpQ8hZ0JdM/edit#heading=h.jlmobqnavwap"
                target="_blank"
                >more information</a
              >).
              <strong>
                Unless you have a specific reason to make an exception, ask the
                client to call us back 3 weeks in advance and schedule the
                request at that time.
              </strong>
            </p>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>
              Describe when this request can happen&nbsp;<mat-icon>
                email
              </mat-icon>
            </mat-label>

            <textarea
              matInput
              matTextareaAutosize
              [formControl]="control.get('flexibleSchedule')"
              required
            ></textarea>

            <mat-hint> e.g. "Tuesday or Thursday between 1 and 4pm" </mat-hint>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="requestSchedule.value === 'RECURRING'"
        formGroupName="scheduleRecurring"
      >
        <mat-form-field appearance="fill">
          <mat-label>
            How often does this request happen?&nbsp;<mat-icon>
              email
            </mat-icon>
          </mat-label>

          <mat-select formControlName="scheduleName" required>
            <mat-option value="Once a month"> Once a month </mat-option>

            <mat-option value="Once every 3 weeks">
              Once every 3 weeks
            </mat-option>

            <mat-option value="Once every 2 weeks">
              Once every 2 weeks
            </mat-option>

            <mat-option value="Once a week"> Once a week </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="requestFlexibility.value === false">
          <mat-form-field appearance="fill">
            <mat-label>
              When is the start date for this request?&nbsp;<mat-icon>
                email
              </mat-icon>
            </mat-label>

            <input
              matInput
              placeholder="mm/dd/yyyy"
              formControlName="startDate"
              [matDatepicker]="recurringStartDatePicker"
              autocomplete="false"
              required
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="recurringStartDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #recurringStartDatePicker touchUi></mat-datepicker>
          </mat-form-field>

          <div
            *ngIf="requestTooFarInAdvance"
            class="padding-12 add-ride-request-context-warning"
          >
            <p>
              It looks like this request is being made more than 4 weeks in
              advance. In general, we don't want to take requests this far in
              advance (<a
                href="https://docs.google.com/document/d/1FfY2xJhzSHAbL6rbue4JRfHoCvpm8vg7_tpQ8hZ0JdM/edit#heading=h.jlmobqnavwap"
                target="_blank"
                >more information</a
              >).
              <strong>
                Unless you have a specific reason to make an exception, ask the
                client to call us back 3 weeks in advance and schedule the
                request at that time.
              </strong>
            </p>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>
              Time of each appointment&nbsp;<mat-icon> email </mat-icon>
            </mat-label>

            <input
              type="time"
              matInput
              formControlName="time"
              autocomplete="false"
              required
            />
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>
              Optionally, is there an end date for this recurring
              request?&nbsp;<mat-icon>email</mat-icon>
            </mat-label>

            <input
              matInput
              placeholder="mm/dd/yyyy"
              formControlName="endDate"
              [matDatepicker]="recurringEndDatePicker"
              autocomplete="false"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="recurringEndDatePicker"
            ></mat-datepicker-toggle>

            <mat-datepicker #recurringEndDatePicker touchUi></mat-datepicker>
          </mat-form-field> -->
        </ng-container>

        <ng-container *ngIf="requestFlexibility.value === true">
          <mat-form-field appearance="fill">
            <mat-label>
              First week of request&nbsp;<mat-icon> email </mat-icon>
            </mat-label>

            <mat-date-range-input [rangePicker]="recurringStartDatePicker">
              <input
                matStartDate
                formControlName="startDate"
                readonly
                required
                (click)="recurringStartDatePicker.open()"
                autocomplete="false"
              />

              <input
                matEndDate
                readonly
                required
                (click)="recurringStartDatePicker.open()"
                autocomplete="false"
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              matSuffix
              [for]="recurringStartDatePicker"
            ></mat-datepicker-toggle>

            <mat-date-range-picker
              #recurringStartDatePicker
              touchUi
            ></mat-date-range-picker>
          </mat-form-field>

          <div
            *ngIf="requestTooFarInAdvance"
            class="padding-12 add-ride-request-context-warning"
          >
            <p>
              It looks like this request is being made more than 4 weeks in
              advance. In general, we don't want to take requests this far in
              advance (<a
                href="https://docs.google.com/document/d/1FfY2xJhzSHAbL6rbue4JRfHoCvpm8vg7_tpQ8hZ0JdM/edit#heading=h.jlmobqnavwap"
                target="_blank"
                >more information</a
              >).
              <strong>
                Unless you have a specific reason to make an exception, ask the
                client to call us back 3 weeks in advance and schedule the
                request at that time.
              </strong>
            </p>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>
              Describe when this request can happen&nbsp;<mat-icon>
                email
              </mat-icon>
            </mat-label>

            <textarea
              matInput
              matTextareaAutosize
              [formControl]="control.get('flexibleSchedule')"
              required
            ></textarea>

            <mat-hint>
              e.g. "Tuesdays or Thursdays between 1 and 4pm"
            </mat-hint>
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>
              Optionally, is there an end week for this recurring
              request?&nbsp;<mat-icon> email </mat-icon>
            </mat-label>

            <mat-date-range-input [rangePicker]="recurringEndDatePicker">
              <input
                #recurringEndDateFirstInput
                matStartDate
                readonly
                (click)="recurringEndDatePicker.open()"
                autocomplete="false"
              />

              <input
                matEndDate
                formControlName="endDate"
                readonly
                (click)="recurringEndDatePicker.open()"
                autocomplete="false"
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              matSuffix
              [for]="recurringEndDatePicker"
            ></mat-datepicker-toggle>

            <button
              mat-icon-button
              matPrefix
              *ngIf="control.get('scheduleRecurring.endDate')?.value"
              (click)="
                control.get('scheduleRecurring.endDate')?.setValue(null);
                recurringEndDateFirstInput.value = null
              "
            >
              <mat-icon>close</mat-icon>
            </button>

            <mat-date-range-picker
              #recurringEndDatePicker
              touchUi
            ></mat-date-range-picker>
          </mat-form-field> -->
        </ng-container>

        <div
          *ngIf="
            requestSchedule.value === 'RECURRING' &&
            control.value.scheduleRecurring!.occurrenceCount === 0
          "
          class="padding-12 add-ride-request-context-warning"
        >
          <p>
            Error! The selected recurring request options don't produce any
            request occurrences.
          </p>
        </div>

        <div
          *ngIf="
            requestSchedule.value === 'RECURRING' &&
            control.get('scheduleRecurring')!.valid
          "
          class="padding-12 add-ride-request-context-warning"
        >
          <p>This will create the following requests</p>

          <ul>
            <li *ngFor="let date of recurringRideRequestSchedule! | slice: 0:4">
              {{
                requestFlexibility.value === true
                  ? 'Week of ' + (date | flexibleDatetime)
                  : (date | date: 'EEEE, MMM d @ h:mmaaa')
              }}
            </li>

            <li *ngIf="recurringRideRequestSchedule?.length === 5">etc...</li>
          </ul>
        </div>
      </ng-container>

      <div
        *ngIf="otherRecurringRequestsCount !== 0 && selectedClient as client"
        class="padding-12 add-ride-request-context-warning"
      >
        <p>
          FYI,
          {{ client.firstName }} has {{ otherRecurringRequestsCount }} other
          active recurring request{{
            otherRecurringRequestsCount === 1 ? '' : 's'
          }}.
        </p>

        <small>
          Pro tip: you can right-click a link and select "open link in new tab"
          if you wish to view the client's profile but not lose your work here
          (you'll also need to select the new tab to view it).
        </small>

        <ul>
          <li>
            <a [routerLink]="['/dispatcher/client', client.uid, 'profile']">
              View {{ client.firstName }}'s profile
            </a>
          </li>
        </ul>
      </div>

      <div
        *ngIf="
          otherRideRequestsThatWeek.length !== 0 && selectedClient as client
        "
        class="padding-12 add-ride-request-context-warning"
      >
        <p>
          FYI,
          {{ client.firstName }} has
          {{ otherRideRequestsThatWeek.length }} other request{{
            otherRideRequestsThatWeek.length === 1 ? '' : 's'
          }}
          that week.
        </p>

        <small>
          Pro tip: you can right-click a link and select "open link in new tab"
          if you wish to view the ride request but not lose your work here
          (you'll also need to select the new tab to view it).
        </small>

        <ul>
          <li *ngFor="let rideRequest of otherRideRequestsThatWeek">
            <a
              [routerLink]="[
                '/dispatcher/ride-request',
                rideRequest.uid,
                'overview'
              ]"
            >
              {{
                rideRequest.flexible
                  ? 'Flexible (' +
                    rideRequest.category +
                    '). ' +
                    rideRequest.flexibleSchedule
                  : (rideRequest.datetime | date: 'EEEE, MMM d @ h:mmaaa')
              }}
              {{ rideRequest.recurringRideRequestId ? '(R)' : '' }}
            </a>
          </li>
        </ul>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Trip priority</mat-label>

        <mat-select formControlName="priority" required>
          <mat-option value="low">Low</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="high">High</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container formGroupName="pickupAddress">
        <mat-form-field appearance="fill">
          <mat-label>Pickup address&nbsp;<mat-icon>email</mat-icon></mat-label>
          <mat-select
            #pickupAddress
            formControlName="address"
            required
            autocomplete="false"
          >
            <mat-option value="standard">Client's standard address</mat-option>
            <mat-option value="other">A non-standard address</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="pickupAddress.value === 'other'">
          <h5>Custom pickup address</h5>

          <mat-form-field appearance="fill">
            <mat-label>
              Pickup location name&nbsp;<mat-icon>email</mat-icon>
            </mat-label>
            <input matInput formControlName="label" autocomplete="false" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pickup street&nbsp;<mat-icon>email</mat-icon></mat-label>
            <input
              matInput
              formControlName="street"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Pickup apartment/space number&nbsp;<mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="apartmentNumber"
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pickup city&nbsp;<mat-icon>email</mat-icon></mat-label>
            <input
              matInput
              formControlName="city"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pickup zip&nbsp;<mat-icon>email</mat-icon></mat-label>
            <input
              matInput
              formControlName="zip"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Other pickup address info&nbsp;<mat-icon>email</mat-icon>
            </mat-label>
            <textarea
              matInput
              matTextareaAutosize
              formControlName="comments"
            ></textarea>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <h3>Destination(s)</h3>
      <p style="margin-top: 0">The order of the destinations matters.</p>

      <ng-container
        *ngFor="
          let destinationAddressForm of $any(control.get('destinations'))
            .controls;
          index as i
        "
        [formGroup]="destinationAddressForm"
      >
        <div class="flex-center">
          <h5>{{ addressNumber(i) }} destination</h5>

          <div class="flex-1"></div>

          <div *ngIf="i !== 0">
            <button
              mat-button
              color="warn"
              type="button"
              [matMenuTriggerFor]="removeConfirmation"
            >
              Remove {{ addressNumber(i) | lowercase }} destination
            </button>

            <mat-menu #removeConfirmation="matMenu">
              <button
                mat-menu-item
                type="button"
                (click)="removeDestination(i)"
              >
                Confirm
              </button>
              <button mat-menu-item type="button">Cancel</button>
            </mat-menu>
          </div>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>
            {{ addressNumber(i) }} destination address&nbsp;
            <mat-icon>email</mat-icon>
          </mat-label>
          <input
            matInput
            #destinationInput="matInput"
            type="text"
            formControlName="address"
            [matAutocomplete]="destinationAuto"
            autocomplete="false"
            (keyup)="filterFavoriteDestinations(destinationInput, i)"
            (blur)="destinationAddressInputBlurred(i)"
            required
          />
          <mat-error>
            You need to select one of the drop down options.
          </mat-error>
        </mat-form-field>

        <mat-autocomplete
          #destinationAuto="matAutocomplete"
          [displayWith]="destinationAddressDisplayFn"
        >
          <mat-option value="other">A custom address</mat-option>
          <mat-option
            *ngFor="let destination of filteredFavoriteDestinations[i]"
            [value]="destination"
          >
            {{ destination.label }}, {{ destination.street }}
          </mat-option>
        </mat-autocomplete>

        <app-select-other
          *ngIf="requestType.value === 'STP'"
          [formControl]="destinationAddressForm.get('tripPurpose')"
          [options]="['Doctor', 'Shopping']"
          [allowCustomOption]="true"
          label="Trip purpose"
          otherLabel='Explain "other" purpose'
          [required]="true"
          includedInGeneratedEmail
        >
        </app-select-other>

        <ng-container *ngIf="destinationAddressForm.value.address === 'other'">
          <mat-form-field appearance="fill">
            <mat-label>
              {{ addressNumber(i) }} destination location name&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input matInput formControlName="label" autocomplete="false" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ addressNumber(i) }} destination street&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="street"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ addressNumber(i) }} destination apartment/space number&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="apartmentNumber"
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ addressNumber(i) }} destination city&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="city"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ addressNumber(i) }} destination zip&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <input
              matInput
              formControlName="zip"
              required
              autocomplete="false"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Special directions for
              {{ addressNumber(i) | lowercase }} destination&nbsp;
              <mat-icon>email</mat-icon>
            </mat-label>
            <textarea
              matInput
              matTextareaAutosize
              formControlName="comments"
            ></textarea>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <div
        *ngIf="$any(control.get('destinations')).controls.length < 5"
        style="margin-left: -1rem"
      >
        <button
          mat-button
          color="primary"
          type="button"
          (click)="addDestination()"
        >
          Add another destination
        </button>
      </div>

      <h3 style="margin-top: 2rem">Anything else?</h3>

      <mat-form-field *ngIf="requestType.value === 'GSP'" appearance="fill">
        <mat-label> Number of people impacted </mat-label>

        <input
          matInput
          type="number"
          formControlName="peopleImpacted"
          required
        />

        <mat-hint>
          e.g. maybe this client is also requesting groceries for family
          members.
        </mat-hint>
      </mat-form-field>

      <mat-form-field
        *ngIf="control.value.peopleImpacted > 1"
        appearance="fill"
      >
        <mat-label> Who else benefits from this request? </mat-label>

        <textarea
          matInput
          matTextareaAutosize
          formControlName="peopleImpactedDescription"
          required
        ></textarea>

        <mat-hint> e.g. the client's husband </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Other information&nbsp;<mat-icon>email</mat-icon>
        </mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="add-ride-request"
      matDialogClose
    >
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="!formInvalid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="add-ride-request"
        [disabled]="formInvalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
