@use '@angular/material' as mat;
@import '_color';

.add-ride-request {
  .warn {
    .mat-dialog-title {
      outline: 1rem solid map_get(mat.$yellow-palette, 300);
      background-color: map_get(mat.$yellow-palette, 300);
    }
  }

  .mat-dialog-title {
    h3 {
      margin: 0;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.3;

      a,
      a:visited {
        color: map_get(mat.$blue-palette, 600);
        text-decoration: none;
      }
    }
  }
}

.add-ride-request-context-warning {
  background-color: #fff59d;
  margin-bottom: 2rem;
}
