<div *ngIf="rideRequest" class="flex-row">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      routerLink="./overview"
      [active]="activeRoute === 'overview'"
    >
      Overview
    </a>
    <a
      mat-tab-link
      [routerLink]="['/dispatcher/client', rideRequest!.clientId, 'profile']"
    >
      Client Profile
    </a>
    <a
      mat-tab-link
      [routerLink]="[
        '/dispatcher/driver',
        rideRequest!.driverId || '',
        'profile'
      ]"
      [disabled]="!rideRequest.driverId"
    >
      {{ !rideRequest.driverId ? 'No volunteer' : 'Volunteer Profile' }}
    </a>
  </nav>

  <div class="flex-1"></div>

  <div class="flex-center" style="margin-right: 1.5rem">
    <span
      matTooltip="{{
        ('next/previous requests' | swIsLoading | async)
          ? 'loading'
          : !previousRideRequest
          ? 'No previous requests'
          : 'Previous request (' + previousRideRequest.category + ')'
      }}"
    >
      <a
        mat-icon-button
        [routerLink]="[
          '/dispatcher/ride-request',
          previousRideRequest?.uid || '',
          'overview'
        ]"
        [disabled]="!previousRideRequest"
      >
        <mat-icon>chevron_left</mat-icon>
      </a>
    </span>

    <span
      matTooltip="{{
        ('next/previous requests' | swIsLoading | async)
          ? 'loading'
          : !nextRideRequest
          ? 'No future requests'
          : 'Next request (' + nextRideRequest.category + ')'
      }}"
    >
      <a
        mat-icon-button
        [routerLink]="[
          '/dispatcher/ride-request',
          nextRideRequest?.uid || '',
          'overview'
        ]"
        [disabled]="!nextRideRequest"
      >
        <mat-icon>chevron_right</mat-icon>
      </a>
    </span>
  </div>

  <div class="flex-center" style="margin-right: 1.5rem">
    <mat-checkbox
      [checked]="emailService.isRideRequestSelected(rideRequest!.uid)"
      (change)="emailService.requestSelected(rideRequest!)"
      color="primary"
    >
      Add to email
    </mat-checkbox>
  </div>
</div>

<router-outlet></router-outlet>
