<form
  *ngIf="rideRequest"
  [formGroup]="cancellationForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Cancel request</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <p *ngIf="data.requestType === 'RECURRING'" style="margin-bottom: 1rem">
        Note: since you are cancelling this request as well as future requests
        associated with this recurring request, we will cancel this request but
        then <strong><em>fully delete</em></strong> any future requests
        associated with this recurring request.
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Who cancelled the request?</mat-label>
        <input matInput formControlName="requestCancelledBy" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Why was the request cancelled?</mat-label>
        <textarea
          matInput
          formControlName="cancellationReason"
          required
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="cancel-ride-request"
      (click)="close()"
    >
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="cancellationForm.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="cancel-ride-request"
        [disabled]="cancellationForm.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
