<mat-card class="profile">
  <mat-card-title style="margin-bottom: 2rem;">
    Frequently Asked Questions
  </mat-card-title>

  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Find a bug / have a suggestion? </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          If you think you're encountering a bug or you have a suggestion for
          improvement, send an email to
          <a
            href="https://mail.google.com/mail/u/0/?view=cm&to=incoming%2Bsc-volunteer-center-senior-transportation-hub-8690342-issue-@incoming.gitlab.com&body=Hey%2C%0A%0AThis%20is%20YOUR_NAME%20from%20the%20transportation%20desk.%20I%20am%20running%20into%20an%20issue..."
            target="_blank"
          >
            incoming+sc-volunteer-center-senior-transportation-hub-8690342-issue-@incoming.gitlab.com
          </a>
          .
        </p>

        <p>
          If reporting a bug, try to include as much information in the email as
          you can, including:
        </p>

        <ul>
          <li>What you were doing when you ran into the problem.</li>
          <li>What you were trying to accomplish.</li>
          <li>What you expected to happen.</li>
          <li>Any information on how the bug can be re-created.</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
