@use '@angular/material' as mat;
@import '_color';

@keyframes blinking {
  0% {
    background-color: map_get($mat-vc-teal, 600);
  }

  100% {
    background-color: map_get(mat.$red-palette, 900);
  }
}

:host {
  animation: blinking 2s infinite;
}
