<h3>
  Update Available!
</h3>

<p>
  Updating will reload the page, erasing any unsaved work. This update will
  <em>automatically happen</em> in
  <countdown
    [config]="{
      stopTime: appUpdateService.updateAtTime!.valueOf(),
      format: 'mm:ss'
    }"
  ></countdown>
  minutes.
</p>

<button
  mat-raised-button
  type="button"
  color="secondary"
  (click)="appUpdateService.updateNow()"
>
  Update now
</button>
