<div mat-dialog-title style="display: flex">
  <h3 *ngIf="rideRequest" style="margin: 0">
    Find {{ rideRequest.category }} volunteer for
    <span
      matTooltip="Request for {{ rideRequest?.client.name }} on {{
        rideRequest?.datetime | date: 'E, MMM d, y @ h:mmaaa'
      }}"
    >
      {{ rideRequest?.client.nicknameOrFirstName }}
      on {{ rideRequest?.datetime | date: 'shortDate' }}
    </span>
  </h3>

  <div class="flex-1"></div>

  <button
    mat-button
    *ngIf="
      rideRequest && !rideRequest!.driverId && selectedDriver;
      else unassignDriverTemplateTop
    "
    (click)="assignDriver()"
  >
    Assign Volunteer
  </button>

  <ng-template #unassignDriverTemplateTop>
    <button
      mat-button
      *ngIf="rideRequest && rideRequest!.driverId"
      (click)="unassignDriver()"
    >
      Un-assign Volunteer
    </button>
  </ng-template>

  <button mat-button matDialogClose style="margin-left: 2rem">close</button>
</div>

<mat-dialog-content *ngIf="rideRequest; else loadingSpinner" class="flex-1">
  <section>
    <div class="warn side-padding-12" *ngIf="rideRequest!.client!.restrictions">
      <p class="label"><strong>Client restrictions</strong></p>
      <p>{{ rideRequest!.client!.restrictions || 'none' }}</p>
    </div>

    <div class="flex-row" style="margin-bottom: 0.5rem">
      <mat-form-field appearance="standard" class="flex-1">
        <input matInput placeholder="Search" [formControl]="searchControl" />
      </mat-form-field>

      <mat-form-field
        appearance="standard"
        style="width: 150px; margin-left: 1rem"
      >
        <mat-label>Tags</mat-label>

        <mat-select [formControl]="tagsControl" multiple>
          <mat-option
            *ngFor="let tag of driverTags"
            [value]="tag.uid"
            [matTooltip]="tag.description"
            matTooltipShowDelay="500"
          >
            ({{ tag.label }}) {{ tag.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-accordion style="padding: 0.5rem; overflow-y: auto">
      <mat-expansion-panel
        *ngFor="let info of filteredRideRequestContactInfo; trackBy: trackBy"
        [expanded]="selectedDriver?.uid === info.driver.uid"
        hideToggle
      >
        <mat-expansion-panel-header (click)="handleExpansionClick(info.driver)">
          <mat-panel-title>
            <app-display-tags
              [label]="info.driver.nameWithRetiredStatus"
              [tagIds]="info.driver.tagIds"
              [tags]="info.otherTags"
              favoritesOnly
              class="tag-label-strong"
              style="margin: 0px"
            ></app-display-tags>
          </mat-panel-title>

          <mat-panel-description>
            {{ info.distance ? info.distance! + 'mi' : 'n/a' }}

            <div class="flex-1"></div>

            <div class="icons">
              <mat-icon
                *ngIf="!rideRequest.flexible && !info.availability"
                matTooltip="Generally NOT available to drive on {{
                  rideRequest.datetime | date: 'EEEE'
                }}s"
              >
                event_busy
              </mat-icon>

              <mat-icon
                *ngIf="info.accepted"
                matTooltip="{{
                  info.driver.nicknameOrFirstName
                }} is the assigned volunteer"
                class="accepted"
              >
                check_circle
              </mat-icon>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="profile-body">
          <div class="flex-1 flex-column">
            <div>
              <p class="label"><strong>Phone number</strong></p>
              <p>{{ info.driver.phoneNumber || 'n/a' }}</p>
            </div>

            <div style="margin-top: 1rem">
              <p class="label"><strong>Email address</strong></p>
              <p>{{ info.driver.emailAddress || 'n/a' }}</p>
            </div>

            <div style="margin-top: 1rem">
              <p class="label"><strong>Availability</strong></p>
              <p>{{ info.driver.renderAvailability() || 'n/a' }}</p>
            </div>
          </div>

          <div
            class="flex-column"
            style="
              position: relative;
              flex: 1;
              height: 300px;
              background-color: white;
              margin-top: 0;
            "
          >
            <p class="label"><strong>Notes</strong></p>

            <div
              *ngIf="
                'driver-note-threads' | swIsLoading | async;
                else driverNotes
              "
              class="flex-center flex-1"
            >
              <mat-spinner></mat-spinner>
            </div>

            <ng-template #driverNotes>
              <app-notes
                style="
                  width: 100%;
                  border: 1px solid rgba(0, 0, 0, 0.1);
                  padding: 0.25rem;
                "
                [noteThreads]="driverNoteThreads"
                viewingAs="driver"
              >
              </app-notes>
            </ng-template>
          </div>
        </div>

        <mat-action-row>
          <a
            mat-button
            [routerLink]="['/dispatcher/driver', info.driver.uid, 'profile']"
          >
            View profile
          </a>

          <div class="flex-1"></div>

          <button
            mat-button
            *ngIf="!info.accepted; else unassignDriverTemplate"
            (click)="assignDriver()"
          >
            Assign Volunteer
          </button>

          <ng-template #unassignDriverTemplate>
            <button mat-button (click)="unassignDriver()">
              Un-assign Volunteer
            </button>
          </ng-template>

          <button mat-button (click)="addNote(info.driver.uid)">
            Add Note
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section class="padding-8">
    <app-iframe
      *ngIf="selectedDriver"
      [url]="mapUrl"
      class="trip-map flex-1"
    ></app-iframe>

    <mat-card
      class="profile flex-column flex-1"
      style="padding-bottom: 0.5rem; position: relative"
      [ngStyle]="{ 'margin-top': selectedDriver ? '2rem' : '5.5rem' }"
    >
      <mat-card-title> Ride request notes </mat-card-title>

      <app-notes
        [noteThreads]="noteThreads"
        viewingAs="rideRequest"
        (replyToNote)="replyToNote($event)"
        (editNote)="editNote($event)"
        (flagNote)="flagNote($event)"
        (deleteNote)="deleteNote($event)"
        style="top: 3rem; height: calc(100% - 4rem)"
      ></app-notes>
    </mat-card>
  </section>
</mat-dialog-content>

<ng-template #loadingSpinner>
  <mat-dialog-content class="flex-1 flex-center">
    <mat-spinner></mat-spinner>
  </mat-dialog-content>
</ng-template>
