@use '@angular/material' as mat;
@import 'framing';
@import '_color';

:host {
  @extend .flex-column;
  height: 100%;
}

.mat-dialog-title {
  margin: 0;
}

.mat-dialog-content {
  display: flex;
}

section {
  @extend .flex-column;
  width: 50%;
}

.mat-accordion {
  margin-bottom: 0.5rem;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-description {
  align-items: center;

  .icons {
    @extend .flex-center;

    .mat-icon {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .accepted {
      color: map_get(mat.$green-palette, 500);
    }
  }
}

.mat-expansion-panel-body {
  column-width: 200px;
}

.profile-body {
  display: flex;

  .label {
    opacity: 0.54;
  }
}

::ng-deep {
  .find-driver-for-ride-request {
    .mat-dialog-container {
      background-color: map_get(mat.$blue-grey-palette, 50);
      padding-bottom: 0;
    }

    .mat-dialog-content {
      max-height: none;
    }
  }
}

.warn {
  margin-top: 1rem;
  background-color: map_get(mat.$red-palette, 100);
  font-size: 0.9rem;
  max-height: 100px;
  overflow-y: auto;
  flex-shrink: 0;

  .label {
    color: map_get(mat.$red-palette, 600);
  }
}
