<form
  [formGroup]="editForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>
    {{ data?.edit ? 'Edit' : 'Add' }} {{ data?.reply ? 'reply' : 'note' }}
  </h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <ng-container *ngIf="data?.askIfAssociatedWithVolunteer">
        <mat-form-field
          appearance="fill"
          [formGroup]="associatedWithVolunteerForm"
        >
          <mat-label>
            Is this note also associated with a specific volunteer?
          </mat-label>

          <mat-select
            #specVol="matSelect"
            formControlName="associatedWithVolunteer"
            required
          >
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="specVol.value">
          <mat-form-field
            appearance="fill"
            [formGroup]="associatedWithVolunteerForm"
          >
            <mat-label>Volunteer</mat-label>
            <input
              matInput
              type="text"
              formControlName="volunteer"
              [matAutocomplete]="auto"
              (blur)="volunteerSelectionCallback()"
              autocomplete="false"
            />
          </mat-form-field>

          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="personDisplayFn"
            (closed)="volunteerSelectionCallback()"
          >
            <mat-option
              *ngFor="let volunteer of filteredVolunteers"
              [value]="volunteer"
            >
              {{ volunteer.nameWithRetiredStatus }}
            </mat-option>
          </mat-autocomplete>
        </ng-container>
      </ng-container>

      <p *ngIf="data?.reply">
        <strong>Replying to: </strong>
        <span [innerHTML]="renderNote(data!.reply!.text)"></span>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <textarea matInput formControlName="text" required></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="edit-note"
      matDialogClose
      style="margin-right: 1rem"
    >
      Cancel
    </button>

    <button
      mat-button
      *ngIf="canDelete"
      type="button"
      color="warn"
      swIsLoading="edit-note"
      (click)="deleteNote()"
    >
      Delete
    </button>

    <mat-checkbox
      *ngIf="!data?.reply && !data?.edit"
      formControlName="flaggedAsImportant"
    >
      Flag this note as important
    </mat-checkbox>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="!formInvalid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="edit-note"
        [disabled]="formInvalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
