<form
  *ngIf="clientForm; else loading"
  [formGroup]="clientForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Add Client</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <p style="margin-top: 0; margin-bottom: 2rem">
        <small>
          <em>
            A "*" at the end of a field name means it's required. A "<mat-icon
              style="
                font-size: 0.8rem;
                width: 0.5rem;
                height: 1rem;
                padding: 0 0.2rem;
              "
              >email</mat-icon
            >" at the end of a field name means that field will automatically be
            included in any ride request emails you create which involve this
            client.
          </em>
        </small>
      </p>

      <!-- <h3 style="margin: 0; margin-bottom: .5rem;">
        Please read the following to new/potential clients
      </h3>

      <p style="margin-top: 0;">
        <em>
          "The Volunteer Center is a nonprofit organization with a group of
          volunteers who want to help others. Volunteers are not paid. The
          Transportation Program is for those who cannot afford or who cannot
          arrange transportation for basic needs or emergencies."
        </em>
      </p> -->

      <h3>Basic Client Information</h3>

      <mat-form-field appearance="fill">
        <mat-label>
          Is this client being onboarded to GSP, STP, or both?
        </mat-label>

        <mat-select #programControl formControlName="program" required>
          <mat-option value="GSP">GSP</mat-option>
          <mat-option value="STP">STP</mat-option>
          <mat-option value="Both">Both</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>First name&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          type="text"
          matInput
          formControlName="firstName"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nickname&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          type="text"
          matInput
          formControlName="nickname"
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Middle name&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          type="text"
          matInput
          formControlName="middleName"
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last name&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          type="text"
          matInput
          formControlName="lastName"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone number&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          type="text"
          matInput
          formControlName="phoneNumber"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email address</mat-label>
        <input
          type="text"
          matInput
          formControlName="emailAddress"
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input
          matInput
          formControlName="birthdate"
          [matDatepicker]="birthdatePicker"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthdatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthdatePicker touchUi></mat-datepicker>
      </mat-form-field>

      <div
        *ngIf="possibleDuplicates.length !== 0"
        class="padding-12"
        style="background-color: #fff59d; margin-bottom: 2rem"
      >
        <p>
          It looks like this client may already have a profile. You can follow
          the links below to learn more.
        </p>

        <small>
          Pro tip: you can right-click a link and select "open link in new tab"
          if you wish to view the client's profile but not lose your work here
          (you'll also need to select the new tab).
        </small>

        <ul>
          <li *ngFor="let client of possibleDuplicates">
            <a [routerLink]="['/dispatcher/client', client.uid, 'profile']">
              {{ client.nameWithRetiredStatus }}
            </a>
          </li>
        </ul>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Do you receive Medi-CAL or SSI?</mat-label>
        <mat-select formControlName="mediCalOrSsi" required>
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>

      <app-select-other
        [formControl]="clientForm.get('ethnicity')"
        [options]="[
          'Decline to state',
          'Asian',
          'African American',
          'Caucasian',
          'Latino',
          'Pacific Islander',
          'Native American'
        ]"
        [allowCustomOption]="true"
        label="Optionally, how do you identify your race or ethnicity?"
        otherLabel='Explain "other"'
        [required]="true"
      >
      </app-select-other>

      <ng-container
        *ngFor="let question of questions"
        [ngSwitch]="question.type"
      >
        <mat-form-field
          *ngSwitchCase="'boolean'"
          [formGroup]="question.answer"
          appearance="fill"
        >
          <mat-label>{{ question.text }}</mat-label>
          <mat-select formControlName="answer" [required]="question.required">
            <mat-option [value]="false">No</mat-option>
            <mat-option [value]="true">Yes</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngSwitchCase="'text'" [ngSwitch]="question.valueType">
          <mat-form-field
            *ngSwitchCase="'text'"
            [formGroup]="question.answer"
            appearance="fill"
          >
            <mat-label>{{ question.text }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="answer"
              [required]="question.required"
            />
          </mat-form-field>

          <mat-form-field
            *ngSwitchCase="'integer'"
            [formGroup]="question.answer"
            appearance="fill"
          >
            <mat-label>{{ question.text }}</mat-label>
            <input
              type="number"
              matInput
              formControlName="answer"
              [required]="question.required"
            />
          </mat-form-field>

          <mat-form-field
            *ngSwitchCase="'date'"
            [formGroup]="question.answer"
            appearance="fill"
          >
            <mat-label>{{ question.text }}</mat-label>
            <input
              matInput
              formControlName="answer"
              [matDatepicker]="picker"
              [required]="question.required"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker touchUi></mat-datepicker>
          </mat-form-field>
        </ng-container>

        <app-select-other
          *ngSwitchCase="'select'"
          [formControl]="question.answer.get('answer')"
          [options]="question.options"
          [allowCustomOption]="question.allowOther"
          [label]="question.text"
          otherLabel='Explain "other"'
          [required]="question.required"
        >
        </app-select-other>

        <ng-template [ngSwitchCase]="'section-break'">
          <h3>{{ question.text }}</h3>
          <p *ngIf="question.body" style="margin-top: 0; margin-bottom: 1.5rem">
            <em>{{ question.body }}</em>
          </p>
        </ng-template>
      </ng-container>

      <h3>Client's Address</h3>

      <mat-form-field [formGroup]="clientForm.get('address')" appearance="fill">
        <mat-label>Street&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input
          matInput
          formControlName="street"
          required
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field [formGroup]="clientForm.get('address')" appearance="fill">
        <mat-label>
          Apartment Number / Space&nbsp;
          <mat-icon>email</mat-icon>
        </mat-label>
        <input
          matInput
          formControlName="apartmentNumber"
          autocomplete="false"
        />
      </mat-form-field>

      <mat-form-field [formGroup]="clientForm.get('address')" appearance="fill">
        <mat-label>City&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input matInput formControlName="city" required autocomplete="false" />
      </mat-form-field>

      <mat-form-field [formGroup]="clientForm.get('address')" appearance="fill">
        <mat-label>Zip&nbsp;<mat-icon>email</mat-icon></mat-label>
        <input matInput formControlName="zip" required autocomplete="false" />
      </mat-form-field>

      <mat-form-field [formGroup]="clientForm.get('address')" appearance="fill">
        <mat-label>
          Any special directions?&nbsp;
          <mat-icon>email</mat-icon>
        </mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
        ></textarea>
      </mat-form-field>

      <h3>Emergency Contact</h3>

      <mat-form-field appearance="fill">
        <mat-label> Do you have an emergency contact? </mat-label>

        <mat-select [formControl]="hasEmergencyContactControl" required>
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-template [ngIf]="hasEmergencyContactControl.value">
        <mat-form-field
          [formGroup]="clientForm.get('emergencyContact')"
          appearance="fill"
        >
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('emergencyContact')"
          appearance="fill"
        >
          <mat-label>Last name</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('emergencyContact')"
          appearance="fill"
        >
          <mat-label>Phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phoneNumber"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('emergencyContact')"
          appearance="fill"
        >
          <mat-label>Relationship to client</mat-label>
          <input
            type="text"
            matInput
            formControlName="relationshipToPerson"
            required
            autocomplete="false"
          />
        </mat-form-field>
      </ng-template>

      <h3>Other important contacts</h3>
      <p style="margin-top: 0; margin-bottom: 1.5rem">
        <em>
          If a social worker referred the client, and you already have their
          information, you can enter it here. Otherwise, just select "no".
        </em>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>
          Do you have a social worker, home worker, or agency involved?
        </mat-label>
        <mat-select [formControl]="hasSocialWorkerControl" required>
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-template [ngIf]="hasSocialWorkerControl.value">
        <mat-form-field
          [formGroup]="clientForm.get('socialWorker')"
          appearance="fill"
        >
          <mat-label>Contact's first name</mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('socialWorker')"
          appearance="fill"
        >
          <mat-label>Contact's last name</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('socialWorker')"
          appearance="fill"
        >
          <mat-label>Contact's phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phoneNumber"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="clientForm.get('socialWorker')"
          appearance="fill"
        >
          <mat-label>Contact's relationship to client</mat-label>

          <input
            type="text"
            matInput
            formControlName="relationshipToPerson"
            required
            autocomplete="false"
          />
        </mat-form-field>
      </ng-template>

      <ng-container
        *ngFor="
          let otherClientContactControl of otherClientContacts.controls;
          index as i
        "
      >
        <div class="flex-center">
          <h4>{{ contactNumber(i) }} contact</h4>

          <div class="flex-1"></div>

          <button
            mat-button
            color="warn"
            [matMenuTriggerFor]="removeConfirmation"
            type="button"
          >
            Remove {{ contactNumber(i) | lowercase }} contact
          </button>

          <mat-menu #removeConfirmation="matMenu">
            <button mat-menu-item type="button" (click)="removeContact(i)">
              Confirm
            </button>
            <button mat-menu-item type="button">Cancel</button>
          </mat-menu>
        </div>

        <mat-form-field
          [formGroup]="otherClientContactControl"
          appearance="fill"
        >
          <mat-label>
            Label for {{ contactNumber(i) | lowercase }} contact
          </mat-label>

          <input
            type="text"
            matInput
            formControlName="label"
            required
            autocomplete="false"
          />

          <mat-hint> e.g. "Emergency Contact" or "Social Worker" </mat-hint>
        </mat-form-field>

        <mat-form-field
          [formGroup]="otherClientContactControl"
          appearance="fill"
        >
          <mat-label>{{ contactNumber(i) }} contact's first name</mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="otherClientContactControl"
          appearance="fill"
        >
          <mat-label>{{ contactNumber(i) }} contact's last name</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="otherClientContactControl"
          appearance="fill"
        >
          <mat-label>{{ contactNumber(i) }} contact's phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phoneNumber"
            required
            autocomplete="false"
          />
        </mat-form-field>

        <mat-form-field
          [formGroup]="otherClientContactControl"
          appearance="fill"
        >
          <mat-label>
            {{ contactNumber(i) }} contact's relationship to client
          </mat-label>

          <input
            type="text"
            matInput
            formControlName="relationshipToPerson"
            required
            autocomplete="false"
          />
        </mat-form-field>
      </ng-container>

      <div
        *ngIf="otherClientContacts.length < 5"
        style="margin-left: -1rem; margin-bottom: 2rem"
      >
        <button mat-button color="primary" type="button" (click)="addContact()">
          Add another client contact
        </button>
      </div>

      <h3>Privacy Authorization</h3>
      <p style="margin-top: 0; margin-bottom: 1.5rem">
        <em>
          Do you authorize the Volunteer Center to share your name, address,
          phone number, and request information in order to coordinate help for
          you?
        </em>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Can the Volunteer Center share your information?</mat-label>
        <mat-select formControlName="authorizeSharingInfoWithDrivers" required>
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
        <mat-hint>A "yes" is required.</mat-hint>
      </mat-form-field>

      <h3>Add tags</h3>
      <p style="margin-top: 0; margin-bottom: 1.5rem">
        <em>
          This is an admin step for you, the form filler. You shouldn't ask the
          client this question but instead answer it yourself: <br /><br />

          To make it easier to find this client in the future, please select the
          appropriate tags for this client's profile. In general, you should
          only need to mark this client as enrolled in the
          {{
            programControl.value === 'GSP'
              ? 'Grocery Shopper Program (GSP)'
              : programControl.value === 'STP'
              ? 'Senior Transportation Program (STP)'
              : 'Senior Transportation Program (STP) and Grocery Shopper Program (GSP)'
          }}.
        </em>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tagIds" multiple required>
          <mat-option *ngFor="let tag of clientTags" [value]="tag.uid">
            ({{ tag.label }}) {{ tag.description }}
          </mat-option>
        </mat-select>
        <mat-hint> Select all that apply </mat-hint>
      </mat-form-field>

      <h3>Anything else?</h3>

      <mat-form-field *ngIf="programControl.value !== 'STP'" appearance="fill">
        <mat-label>
          General number of people benefitting from grocery requests
        </mat-label>

        <input
          matInput
          type="number"
          formControlName="defaultPeopleImpacted"
          required
        />

        <mat-hint>
          e.g. maybe this client lives with family members that also benefit
          from requests.
        </mat-hint>
      </mat-form-field>

      <mat-form-field
        *ngIf="clientForm.value.defaultPeopleImpacted > 1"
        appearance="fill"
      >
        <mat-label>
          Who else generally benefits from this client's requests?
        </mat-label>

        <textarea
          matInput
          matTextareaAutosize
          formControlName="defaultPeopleImpactedDescription"
          required
        ></textarea>

        <mat-hint> e.g. the client's husband </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Client restrictions</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="restrictions"
        ></textarea>
        <mat-hint>
          e.g. Prefers not to be driven by a specific driver.
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Other information&nbsp;
          <mat-icon>email</mat-icon>
        </mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
        ></textarea>
        <mat-hint>
          Stuff that should be shared with volunteers. e.g. Is allergic to dogs.
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" swIsLoading="add-client" (click)="close()">
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="clientForm.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="add-client"
        [disabled]="clientForm.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <div class="paddin-24"><mat-spinner style="margin: auto"></mat-spinner></div>
</ng-template>
