<form
  *ngIf="driverForm"
  class="form-field-container"
  [formGroup]="driverForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Edit volunteer vacation days</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>Vacation starts on</mat-label>
        <input
          matInput
          placeholder="mm/dd/yyyy"
          formControlName="vacationStartsAt"
          [matDatepicker]="startPicker"
          autocomplete="false"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker touchUi></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Vacation ends on</mat-label>
        <input
          matInput
          placeholder="mm/dd/yyyy"
          formControlName="vacationEndsAt"
          [matDatepicker]="endPicker"
          autocomplete="false"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker touchUi></mat-datepicker>
        <mat-hint
          >This is the first day they are available to volunteer
          again.</mat-hint
        >
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      type="button"
      swIsLoading="edit-driver-vacation"
      matDialogClose
    >
      Cancel
    </button>

    <button
      *ngIf="hasUpcomingVacation"
      mat-button
      color="warn"
      swIsLoading="edit-driver-vacation"
      (click)="cancelVacation()"
    >
      Cancel Vacation
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form is invalid"
      [matTooltipDisabled]="driverForm!.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="edit-driver-vacation"
        [disabled]="driverForm!.invalid || driverForm!.pristine"
      >
        Update
      </button>
    </span>
  </mat-dialog-actions>
</form>
