@use '@angular/material' as mat;
@import '_color';

$red: map_get(mat.$red-palette, 500);

app-select-other {
  display: flex;
  flex-direction: column;
  flex: 1;

  .mat-form-field,
  .mat-form-field-wrapper {
    flex: 1;
  }
}

.sw-invalid {
  app-select-other {
    .mat-form-field {
      .mat-select-arrow,
      .mat-form-field-label {
        color: $red;
      }

      .mat-form-field-underline {
        background-color: $red;
      }
    }

    .mat-form-field.mat-focused {
      .mat-form-field-ripple {
        background-color: $red;
      }

      .mat-select-arrow {
        color: $red;
      }
    }
  }
}
