<h3 mat-dialog-title>Are you sure?</h3>

<mat-dialog-content>
  <p style="margin-top: 0">
    <strong> In general, you should never delete a request. </strong>
  </p>
  <p>
    If a legitimate request is cancelled for any reason, you should simply mark
    it as cancelled but <strong>NOT delete it.</strong> This is because we need
    to tell our funders how many requests get cancelled each month.
  </p>
  <p>
    <em>
      You should only delete a request if you,
      {{ (dispatcher | async)?.firstName }} (the dispatcher), messed up while
      creating it and want to immediately delete it and start over.
    </em>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button matDialogClose color="primary" type="button">
    Cancel
  </button>

  <div class="flex-1"></div>

  <button
    mat-button
    color="warn"
    type="button"
    swIsLoading="delete-ride-request"
    (click)="delete()"
  >
    Delete
  </button>
</mat-dialog-actions>
