<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-welcome-breadcrumb></app-welcome-breadcrumb>

    <div class="flex-1"></div>

    <div style="display: flex; flex-shrink: 0">
      <button mat-raised-button color="secondary" (click)="logout()">
        Sign Out
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="padding-24 text-block">
  <p>Hi {{ user?.name }},</p>

  <p>
    There isn't an organization associated with your email address ({{
      user?.emailAddress
    }}). If that's unexpected, it might mean you signed in with the wrong Google
    Account. Otherwise, you must be new to this app. To get started as an
    administrator, the first thing you need to do is create a new organization
    account.
  </p>

  <p>
    The Google Account you are currently logged into ({{ user?.emailAddress }})
    will be made the admin of your new organization account.
  </p>

  <p>
    Begin by entering the name of your organization as well as the email address
    you want to use for sending dispatcher related emails. The dispatcher email
    address needs to be associated with a gmail / Google Account. Your volunteer
    dispatchers will use the Google Account associated with the dispatcher email
    address for logging into this app. The dispatcher email address cannot be
    the same as the admin email address (i.e. the dispatcher email address
    cannot be {{ user?.emailAddress }})
  </p>
</div>

<div class="padding-24" style="margin-top: 0">
  <form
    class="form-field-container"
    [formGroup]="organizationForm"
    (ngSubmit)="submit()"
    novalidate
    autocomplete="off"
  >
    <mat-form-field appearance="fill">
      <mat-label>Enter organization name</mat-label>
      <input matInput formControlName="name" required autocomplete="false" />
      <mat-error>Must be at least 5 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter dispatcher email address</mat-label>
      <input
        matInput
        formControlName="dispatcherEmailAddress"
        required
        autocomplete="false"
      />
      <mat-error>Must be valid email address.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Confirm dispatcher email address</mat-label>
      <input matInput formControlName='dispatcherEmailAddressConfirmation' required>
      <mat-error>Does not match.</mat-error>
    </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Introduction for generated ride request emails</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="5"
        formControlName="rideRequestEmailPreface"
        autocomplete="false"
      >
      </textarea>
    </mat-form-field>

    <div class="form-actions">
      <span
        class="tooltip-wrapper"
        matTooltip="Complete form first"
        [matTooltipDisabled]="organizationForm.valid"
      >
        <button
          mat-raised-button
          color="accent"
          swIsLoading="submit"
          [disabled]="organizationForm.invalid"
        >
          Create
        </button>
      </span>
    </div>
  </form>
</div>
