<form
  [formGroup]="questionForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>New Question</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <h5>What type of question do you want to add?</h5>

      <mat-form-field appearance="fill">
        <mat-label>Select question type</mat-label>
        <mat-select [formControl]="questionType" required>
          <mat-option value="select">Select question</mat-option>
          <mat-option value="text">Text question</mat-option>
          <mat-option value="boolean">Yes/no question</mat-option>
          <mat-option value="section-break">Section break</mat-option>
        </mat-select>
        <mat-hint
          >The "Section break" option isn't actually a question.</mat-hint
        >
      </mat-form-field>

      <ng-container [ngSwitch]="questionType.value">
        <ng-template [ngSwitchCase]="'select'">
          <mat-form-field appearance="fill">
            <mat-label>Question text</mat-label>
            <input matInput formControlName="text" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Is an answer required?</mat-label>
            <mat-select formControlName="required" required>
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Answer options</mat-label>

            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let option of selectQuestionForm.get('options')!.value"
                (removed)="removeSelectOption(option)"
              >
                {{ option }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>

              <input
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addSelectOption($event)"
                required
              />
            </mat-chip-list>

            <mat-hint
              >Enter the answer options seperated by commas ","</mat-hint
            >

            <mat-checkbox
              matSuffix
              [formControl]="selectQuestionForm.get('allowOther')"
              >allow custom answer</mat-checkbox
            >
          </mat-form-field>
        </ng-template>

        <ng-template [ngSwitchCase]="'text'">
          <mat-form-field appearance="fill">
            <mat-label>Question text</mat-label>
            <input matInput formControlName="text" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Is an answer required?</mat-label>
            <mat-select formControlName="required" required>
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label
              >What type of input does this question receive?</mat-label
            >
            <mat-select formControlName="valueType" required>
              <mat-option value="text">Regular text</mat-option>
              <mat-option value="date">A date</mat-option>
              <mat-option value="integer">A number</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>

        <ng-template [ngSwitchCase]="'boolean'">
          <mat-form-field appearance="fill">
            <mat-label>Question text</mat-label>
            <input matInput formControlName="text" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Is an answer required?</mat-label>
            <mat-select formControlName="required" required>
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>

        <ng-template [ngSwitchCase]="'section-break'">
          <mat-form-field appearance="fill">
            <mat-label>Section title</mat-label>
            <input matInput formControlName="text" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Section description</mat-label>
            <textarea matInput formControlName="body"></textarea>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" swIsLoading (click)="close()">
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form incomplete"
      [matTooltipDisabled]="questionForm.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading
        [disabled]="questionForm.invalid"
      >
        Save
      </button>
    </span>
  </mat-dialog-actions>
</form>
