<form
  *ngIf="organizationForm"
  [formGroup]="organizationForm"
  (ngSubmit)="submitOrganizationForm()"
  novalidate
  autocomplete="off"
  class="padding-24"
>
  <div class="form-field-container">
    <mat-form-field appearance="fill">
      <mat-label>Organization name</mat-label>
      <input matInput formControlName="name" required autocomplete="false" />
      <mat-error>Must be at least 5 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dispatcher email address</mat-label>
      <input
        matInput
        formControlName="dispatcherEmailAddress"
        required
        autocomplete="false"
      />
      <mat-error>Must be valid email address.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Introduction for generated ride request emails</mat-label>
      <textarea
        matInput
        matTextareaAutosize
        [matAutosizeMinRows]="5"
        formControlName="rideRequestEmailPreface"
        required
        autocomplete="false"
      >
      </textarea>
    </mat-form-field> -->

    <div style="margin-bottom: 2rem">
      <p style="margin-top: 0"><strong>Admin email addresses</strong></p>
      <p style="margin-bottom: 0">
        {{ organization?.adminEmailAddresses.join(', ') }}
      </p>
    </div>
  </div>

  <div class="form-actions" style="margin-top: 0;">
    <div class="flex-1"></div>
    <button
      mat-button
      type="button"
      style="margin-right: 1rem;"
      (click)="updateAdminEmailAddresses()"
    >
      Change admins
    </button>
    <span
      class="tooltip-wrapper"
      matTooltip="Form is invalid"
      [matTooltipDisabled]="organizationForm!.valid"
    >
      <button
        mat-raised-button
        swIsLoading="submit-organization-form"
        color="accent"
        [disabled]="organizationForm!.invalid || organizationForm!.pristine"
      >
        Update
      </button>
    </span>
  </div>
</form>
