@use '@angular/material' as mat;
@import 'framing';
@import '_color';

:host {
  // @extend .margin-16;

  margin-bottom: 0.5rem;

  display: block;
  // margin-top: 0;
}

p {
  margin: 0;
}

:host.my-note {
  .note-body {
    background-color: map-get(mat.$deep-purple-palette, 100);
  }
}

.note-body {
  @extend .padding-8;
  border-radius: 3px;
  font-size: 14px;
  background-color: map-get(mat.$blue-grey-palette, 100);
}

.note-meta {
  @extend .flex-row;

  position: relative;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 12px;
  font-weight: 500;
  align-items: flex-end;
  color: map-get(mat.$blue-grey-palette, 700);

  .note-actions {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
  }
}

:host:hover {
  .note-meta {
    .note-actions {
      @extend .flex-row;
      position: absolute;
      right: 0;
      z-index: 10;
    }
  }
}

.note-flag-button.has-flag {
  color: map-get(mat.$orange-palette, 500);
}
