<div class="note-meta">
  <p>{{ creatorName }} - {{ note.createdAtText }}</p>

  <div class="flex-1"></div>

  <div class="note-actions">
    <a
      mat-icon-button
      *ngIf="
        viewingAs !== 'rideRequest' && viewButtonText;
        else noRelatedObject
      "
      [matTooltip]="viewButtonText"
      [routerLink]="relatedToHref"
    >
      <mat-icon>visibility</mat-icon>
    </a>

    <ng-template #noRelatedObject>
      <button
        mat-icon-button
        matTooltip="reply to note"
        (click)="replyToNote()"
      >
        <mat-icon>reply</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="flag note"
        (click)="flagNote()"
        class="note-flag-button"
        [ngClass]="{ 'has-flag': note.noteThread?.flag }"
      >
        <mat-icon>flag</mat-icon>
      </button>

      <button
        mat-icon-button
        *ngIf="currentDispatcher?.name === creatorName"
        matTooltip="edit note"
        (click)="editNote()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </div>
</div>

<div class="note-body">
  <p *ngIf="note.firstNoteInThread && relatedTo" style="opacity: 0.65">
    <a [routerLink]="relatedToHref">{{ relatedTo }}</a>
  </p>

  <p [innerHTML]="renderNote(note.text)"></p>
</div>
