<form
  *ngIf="driverForm; else loading"
  class="form-field-container"
  [formGroup]="driverForm"
  (ngSubmit)="submit()"
  novalidate
  autocomplete="off"
>
  <h3 mat-dialog-title>Edit volunteer</h3>

  <mat-dialog-content>
    <div class="form-field-container">
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input
          matInput
          formControlName="firstName"
          required
          autocomplete="driverFirstName"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nickname</mat-label>
        <input type="text" matInput formControlName="nickname" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Middle name</mat-label>
        <input
          matInput
          formControlName="middleName"
          autocomplete="driverMiddleName"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input
          matInput
          formControlName="lastName"
          required
          autocomplete="driverLastName"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Birthdate </mat-label>

        <input
          matInput
          placeholder="mm/dd/yyyy"
          formControlName="birthdate"
          [matDatepicker]="birthdatePicker"
          autocomplete="driverBirthdate"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="birthdatePicker"
        ></mat-datepicker-toggle>

        <mat-datepicker #birthdatePicker touchUi></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Driver's license expiration date</mat-label>
        <input
          matInput
          placeholder="mm/dd/yyyy"
          formControlName="driversLicenseExpirationDate"
          [matDatepicker]="licensePicker"
          autocomplete="driverDriversLicenseExpirationDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="licensePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #licensePicker touchUi></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Car insurance expiration date</mat-label>
        <input
          matInput
          placeholder="mm/dd/yyyy"
          formControlName="carInsuranceExpirationDate"
          [matDatepicker]="insurancePicker"
          autocomplete="driverCarInsuranceExpirationDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="insurancePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #insurancePicker touchUi></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Car information</mat-label>
        <input
          matInput
          formControlName="carInfo"
          autocomplete="driverCarInfo"
        />
        <mat-hint>
          e.g. Two-door sedan; four-door SUV; smells like cigarettes.
        </mat-hint>
      </mat-form-field>

      <h5>Contact info</h5>

      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input
          matInput
          formControlName="phoneNumber"
          required
          autocomplete="driverPhoneNumber"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email address</mat-label>
        <input
          matInput
          formControlName="emailAddress"
          autocomplete="driverEmailAddress"
        />
      </mat-form-field>

      <h5>Home address</h5>

      <mat-form-field
        [formGroup]="driverForm!.get('address')"
        appearance="fill"
      >
        <mat-label>Street</mat-label>
        <input
          matInput
          formControlName="street"
          required
          autocomplete="driverStreet"
        />
      </mat-form-field>

      <mat-form-field
        [formGroup]="driverForm!.get('address')"
        appearance="fill"
      >
        <mat-label>Apartment/space number</mat-label>
        <input
          matInput
          formControlName="apartmentNumber"
          autocomplete="driverApartmentNumber"
        />
      </mat-form-field>

      <mat-form-field
        [formGroup]="driverForm!.get('address')"
        appearance="fill"
      >
        <mat-label>City</mat-label>
        <input
          matInput
          formControlName="city"
          required
          autocomplete="driverCity"
        />
      </mat-form-field>

      <mat-form-field
        [formGroup]="driverForm!.get('address')"
        appearance="fill"
      >
        <mat-label>Zip</mat-label>
        <input
          matInput
          formControlName="zip"
          required
          autocomplete="driverZip"
        />
      </mat-form-field>

      <mat-form-field
        [formGroup]="driverForm!.get('address')"
        appearance="fill"
      >
        <mat-label>Special address info</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
          autocomplete="driverSpecialAddressInfo"
        ></textarea>
      </mat-form-field>

      <h5 style="margin-bottom: 0.5rem">Availability</h5>
      <p style="margin-top: 0">
        <small><em>In general, what days can you volunteer?</em></small>
      </p>

      <mat-checkbox
        [formControl]="driverForm!.get('availability.mon')"
        color="primary"
        >Monday</mat-checkbox
      >
      <mat-checkbox
        [formControl]="driverForm!.get('availability.tue')"
        color="primary"
        >Tuesday</mat-checkbox
      >
      <mat-checkbox
        [formControl]="driverForm!.get('availability.wed')"
        color="primary"
        >Wednesday</mat-checkbox
      >
      <mat-checkbox
        [formControl]="driverForm!.get('availability.thu')"
        color="primary"
        >Thursday</mat-checkbox
      >
      <mat-checkbox
        [formControl]="driverForm!.get('availability.fri')"
        color="primary"
        >Friday</mat-checkbox
      >
      <mat-checkbox
        [formControl]="driverForm!.get('availability.sat')"
        color="primary"
        >Saturday</mat-checkbox
      >
      <mat-checkbox
        [formControl]="driverForm!.get('availability.sun')"
        color="primary"
        >Sunday</mat-checkbox
      >

      <h5>Demographic Information (optional)</h5>

      <app-select-other
        [formControl]="driverForm.get('genderIdentity')"
        [options]="['Female', 'Male']"
        [allowCustomOption]="true"
        label="Optionally, how do you identify your gender?"
        otherLabel="Another..."
        [required]="false"
      >
      </app-select-other>

      <app-select-other
        [formControl]="driverForm!.get('ethnicity')"
        [options]="[
          'Decline to state',
          'Asian',
          'African American',
          'Caucasian',
          'Latino',
          'Pacific Islander',
          'Native American'
        ]"
        [allowCustomOption]="true"
        label="Optionally, how do you identify your race or ethnicity?"
        otherLabel='Explain "other"'
        [required]="true"
      >
      </app-select-other>

      <h5 style="margin-bottom: 0.5rem">Restrictions (optional)</h5>
      <p style="margin-top: 0">
        <small>
          <em>Are there any clients this volunteer refuses to work with?</em>
        </small>
      </p>

      <form-autocomplete-chips-input
        [formControl]="blacklistedClientsControl"
        placeholder="Blacklisted clients"
        [options]="blacklistableClientOptions"
      >
      </form-autocomplete-chips-input>

      <h5>Add tags</h5>
      <p style="margin-top: 0; margin-bottom: 1.5rem">
        <em>
          To make it easier to find this volunteer in the future, please select
          the appropriate tags for this volunteer's profile.
        </em>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tagIds" multiple>
          <mat-option *ngFor="let tag of driverTags" [value]="tag.uid">
            ({{ tag.label }}) {{ tag.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h5>Anything else?</h5>

      <mat-form-field appearance="fill">
        <mat-label>Special information</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="comments"
          autocomplete="driverComments"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" swIsLoading="edit-driver" matDialogClose>
      Cancel
    </button>

    <div class="flex-1"></div>

    <span
      class="tooltip-wrapper"
      matTooltip="Form is invalid"
      [matTooltipDisabled]="driverForm!.valid"
    >
      <button
        mat-raised-button
        color="accent"
        swIsLoading="edit-driver"
        [disabled]="
          driverForm!.invalid ||
          (driverForm!.pristine && blacklistedClientsControl.pristine)
        "
      >
        Update
      </button>
    </span>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <div class="paddin-24"><mat-spinner style="margin: auto"></mat-spinner></div>
</ng-template>
