@use '@angular/material' as mat;
@import 'framing';
@import '_color';

:host {
  width: 100vw;
  height: 100vh;
  background-color: map_get(mat.$blue-grey-palette, 900);
}

.wrapper {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 400px;
}

.mat-card {
  background-color: map_get($mat-vc-teal, 500);
  color: white;
}

h1 {
  text-align: center;
}

.mat-raised-button {
  background-color: #f73326;
  color: white;
}

.hint {
  color: white;
  opacity: 0.25;
  text-align: center;
}
