<div *ngIf="destination">
  <mat-card class="profile">
    <mat-card-content>
      <div>
        <p class="label"><strong>Name</strong></p>
        <p>{{ destination!.label }}</p>
      </div>

      <div>
        <p class="label"><strong>Address</strong></p>
        <p>{{ destination!.toString() }}</p>
      </div>

      <div>
        <p class="label"><strong>Comments</strong></p>
        <p>{{ destination!.comments || 'none' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="profile-actions">
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editDestination()">edit destination</button>
      </mat-card-content>
    </mat-card>

    <div class="flex-1"></div>

    <mat-card>
      <mat-card-content>
        <button
          mat-button
          [matMenuTriggerFor]="retireConfirmation"
          color="warn"
          matTooltip="This does not effect existing ride requests and you can always re-add this destination later"
        >
          Delete destination
        </button>

        <mat-menu #retireConfirmation="matMenu">
          <button mat-menu-item (click)="deleteDestination()">Confirm</button>
          <button mat-menu-item>Cancel</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="profile-map">
    <mat-card-content>
      <app-iframe [url]="mapUrl"></app-iframe>
    </mat-card-content>
  </mat-card>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Added on</strong></p>
        <p>{{ destination!.createdAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Last updated on</strong></p>
        <p>{{ destination!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="destination!.retiredAt">
        <p class="label"><strong>Last used on</strong></p>
        <p>{{ destination!.lastUsedAt | date: 'E, MMM d, y' }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
