<div class="filter-bar side-padding-24">
  <div class="datepicker-button">
    <button mat-button (click)="selectDate(datepicker)">
      {{ displaySelectedDate() | async }}
      <input
        [matDatepicker]="myDatepickerContainer"
        [value]="selectedDate"
        (dateChange)="dateSelected($event)"
        style="display: none"
      />
      <mat-datepicker
        #myDatepickerContainer
        #datepicker="matDatepicker"
        touchUi
      ></mat-datepicker>
    </button>
  </div>

  <div class="side-margin-16">
    <button mat-icon-button (click)="rideRequestsViewService.prevDate()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="rideRequestsViewService.nextDate()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="flex-1"></div>

  <div class="flex-center" style="margin-right: 1.5rem; width: 16rem">
    <mat-form-field
      appearance="standard"
      style="width: 150px; margin-left: 1rem; flex: 1"
    >
      <mat-select
        [formControl]="filterOptionsControl"
        multiple
        placeholder="Options"
      >
        <mat-option value="unassignedOnly"> Unassigned only </mat-option>
        <mat-option value="map"> Map view </mat-option>
        <mat-option value="stp"> STP requests </mat-option>
        <mat-option value="gsp"> GSP requests </mat-option>
        <mat-option value="flexible"> Flexible requests </mat-option>
        <mat-option value="fixed"> Fixed requests </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="viewMenu">Change view</button>

    <mat-menu #viewMenu="matMenu">
      <button mat-menu-item [routerLink]="['./month']">Month</button>
      <button mat-menu-item [routerLink]="['./week']">Week</button>
      <button mat-menu-item [routerLink]="['./day']">Day</button>
    </mat-menu>
  </div>
</div>

<router-outlet></router-outlet>
