@import 'framing';
@import 'elevation';
@import '_color';

app-ride-requests {
  router-outlet + * {
    @extend .margin-24;
    overflow: visible;
  }

  .datepicker-button {
    .mat-button-wrapper {
      font-size: 1.2rem;
    }
  }
}
