<div class="side-margin-16 vertical-margin-8 flex-center">
  <button mat-icon-button (click)="prevDate()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="datepicker-button flex-center" style="flex-shrink: 0">
    <button
      mat-button
      *ngIf="rideRequestsDate"
      (click)="openDateSelector(datepicker)"
    >
      {{ rideRequestsDate | date: 'MMMM y' }}
      <input
        [matDatepicker]="myDatepickerContainer"
        [value]="rideRequestsDate"
        (dateChange)="dateSelected($event)"
        style="display: none"
      />
      <mat-datepicker
        #myDatepickerContainer
        #datepicker="matDatepicker"
        touchUi
      ></mat-datepicker>
    </button>
  </div>

  <button mat-icon-button (click)="nextDate()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div
  *ngIf="'client-ride-requests' | swIsLoading | async; else loaded"
  class="flex-center"
  style="flex: 1"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #loaded>
  <mat-table
    [dataSource]="rideRequests"
    [trackBy]="trackBy"
    class="mat-elevation-z8"
    swScrollPosition="client-ride-requests"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef class="flex-_75">
        Select
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="flex-_75">
        <mat-checkbox
          [checked]="emailService.isRideRequestSelected(row.uid)"
          (click)="$event.stopPropagation()"
          (change)="emailService.requestSelected(row)"
          color="primary"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

      <mat-cell
        *matCellDef="let row"
        matTooltip="{{
          row.flexible
            ? 'Week of ' +
              (row.datetime | flexibleDatetime) +
              '. ' +
              row.flexibleSchedule
            : (row.datetime | date: 'fullDate')
        }}"
        [matTooltipShowDelay]="500"
      >
        {{
          row.flexible
            ? (row.datetime | flexibleDatetime)
            : (row.datetime | date: 'shortDate')
        }}
        {{ row.recurringRideRequestId && '(R)' }}
      </mat-cell>
    </ng-container>

    <!-- time Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef class="flex-_75">Time</mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="flex-_75"
        matTooltip="{{
          row.flexible
            ? row.flexibleSchedule
            : (row.datetime | date: 'shortTime')
        }}"
        [matTooltipShowDelay]="500"
      >
        {{ row.flexible ? 'flexible' : (row.datetime | date: 'shortTime') }}
      </mat-cell>
    </ng-container>

    <!-- tag Column -->
    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef class="flex-_75">Tag</mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-_75">
        {{ row.category }}
      </mat-cell>
    </ng-container>

    <!-- destination Column -->
    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef class="flex-3">
        Destination
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="flex-3">
        {{ destinationSummary(row.destinationAddresses) }}
      </mat-cell>
    </ng-container>

    <!-- driver Column -->
    <ng-container matColumnDef="driver">
      <mat-header-cell *matHeaderCellDef class="flex-2">Driver</mat-header-cell>
      <mat-cell *matCellDef="let row" class="flex-2">
        <app-display-tags
          [label]="driverName(row)"
          [tagIds]="(!row.requestCancelledAt && row.driver?.tagIds) || []"
          favoritesOnly
        >
        </app-display-tags>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="
        ['selected', 'date', 'time', 'tag', 'destination', 'driver'];
        sticky: true
      "
    ></mat-header-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['selected', 'date', 'time', 'tag', 'destination', 'driver']
      "
      (click)="
        navigateToPath($event, [
          '/dispatcher/ride-request',
          row.uid,
          'overview'
        ])
      "
      class="anchor-row"
    ></mat-row>
  </mat-table>
</ng-template>
