@import '_color';

:host {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}

.mat-row :host {
  margin: 0.5rem 0;
}

.hub-tag {
  font-size: 10px;
  font-weight: 500;
  margin: 1px;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: 0.25rem;
}

.hub-tag-label {
  margin-right: 0.25rem;
}

:host.tag-label-strong {
  .hub-tag-label {
    font-weight: 700;
  }
}

.hub-tag-dark-bg {
  color: white;

  .hub-tag-remove {
    color: white;
  }
}

// .tag-bg-color-Red {
//   @extend .hub-tag-dark-bg;
//   background-color: #f44336;
// }
.tag-bg-color-Pink {
  @extend .hub-tag-dark-bg;
  background-color: #e91e63;
}
.tag-bg-color-Purple {
  @extend .hub-tag-dark-bg;
  background-color: #9c27b0;
}
// .tag-bg-color-Deep-Purple {
//   @extend .hub-tag-dark-bg;
//   background-color: #e91e63;
// }
.tag-bg-color-Indigo {
  @extend .hub-tag-dark-bg;
  background-color: #3f51b5;
}
.tag-bg-color-Blue {
  @extend .hub-tag-dark-bg;
  background-color: #1e88e5;
}
// .tag-bg-color-Light-Blue {
//   background-color: #29b6f6;
// }
.tag-bg-color-Cyan {
  background-color: #00bcd4;
}
.tag-bg-color-Teal {
  @extend .hub-tag-dark-bg;
  background-color: #009688;
}
.tag-bg-color-Green {
  background-color: #66bb6a;
}
.tag-bg-color-Lime {
  background-color: #cddc39;
}
.tag-bg-color-Orange {
  @extend .hub-tag-dark-bg;
  background-color: #ff9800;
}
.tag-bg-color-Deep-Orange {
  @extend .hub-tag-dark-bg;
  background-color: #f4511e;
}
.tag-bg-color-Brown {
  @extend .hub-tag-dark-bg;
  background-color: #795548;
}
.tag-bg-color-Gray {
  @extend .hub-tag-dark-bg;
  background-color: #757575;
}
.tag-bg-color-Light-Gray {
  background-color: #e0e0e0;
}
