<div *ngIf="question; else loading">
  <mat-card class="profile">
    <mat-card-title *ngIf="question!.retiredAt"
      >Outdated question</mat-card-title
    >

    <mat-card-content>
      <div>
        <p class="label"><strong>Type</strong></p>
        <ng-container [ngSwitch]="question!.type">
          <p *ngSwitchCase="'boolean'">Yes/no question</p>
          <p *ngSwitchCase="'section-break'">Section break</p>
          <p *ngSwitchDefault>{{ question!.type | titlecase }} question</p>
        </ng-container>
      </div>

      <div>
        <p class="label">
          <strong>{{
            question!.type === 'section-break' ? 'Title' : 'Question'
          }}</strong>
        </p>
        <p>"{{ question!.text }}"</p>
      </div>

      <ng-container [ngSwitch]="question!.type">
        <ng-template [ngSwitchCase]="'select'">
          <div>
            <p class="label"><strong>Options</strong></p>
            <ul>
              <li *ngFor="let option of question!.options">"{{ option }}"</li>
              <li *ngIf="question!.allowOther">or custom option</li>
            </ul>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="'text'">
          <div>
            <p class="label"><strong>Input type</strong></p>
            <p>{{ question!.valueType }}</p>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="'section-break'">
          <div>
            <p class="label"><strong>Description</strong></p>
            <p>{{ question!.body ? '"' + question!.body + '"' : 'none' }}</p>
          </div>
        </ng-template>
      </ng-container>

      <div *ngIf="question!.type !== 'section-break'">
        <p class="label"><strong>Required</strong></p>
        <p>{{ question!.required ? 'yes' : 'no' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="profile-actions">
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editQuestion()">edit question</button>
      </mat-card-content>
    </mat-card>

    <div class="flex-1"></div>

    <mat-card>
      <mat-card-content>
        <button
          mat-button
          [matMenuTriggerFor]="retireConfirmation"
          color="warn"
        >
          {{ question!.retiredAt ? 'un-retire' : 'retire' }} question
        </button>

        <mat-menu #retireConfirmation="matMenu">
          <button mat-menu-item (click)="toggleRetireQuestion()">
            Confirm
          </button>
          <button mat-menu-item>Cancel</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Question last updated on</strong></p>
        <p>{{ question!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="question!.retiredAt">
        <p class="label"><strong>Question retired on</strong></p>
        <p>{{ question!.retiredAt | date: 'E, MMM d, y' }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="padding-24">
    <mat-spinner style="margin: auto;"></mat-spinner>
  </div>
</ng-template>
