<mat-form-field appearance="standard" style="margin-bottom: 0.5rem">
  <button
    *ngIf="searchControl.value !== ''"
    mat-icon-button
    matPrefix
    (click)="searchControl.patchValue('')"
  >
    <mat-icon>close</mat-icon>
  </button>

  <input matInput [formControl]="searchControl" placeholder="Search" />

  <mat-checkbox
    matSuffix
    color="primary"
    (change)="toggleRetiredDispatchers($event)"
  >
    Show retired dispatchers
  </mat-checkbox>
</mat-form-field>

<mat-table
  [dataSource]="filteredDispatchers"
  matSort
  matSortActive="name"
  matSortDirection="desc"
  (matSortChange)="sortDispatchers()"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-4">
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-4">
      {{ row.nameWithRetiredStatus }}
    </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Active
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ displayActiveStatus(row) }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name', 'active']"></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: ['name', 'active']"
    [routerLink]="['../dispatcher', row.uid, 'profile']"
    class="anchor-row"
  >
  </mat-row>
</mat-table>
