<div *ngIf="tag">
  <mat-card class="profile">
    <mat-card-content>
      <div>
        <p class="label"><strong>Name</strong></p>
        <p>{{ tag!.label }}</p>
      </div>

      <div>
        <p class="label"><strong>Description</strong></p>
        <p>{{ tag!.description }}</p>
      </div>

      <div>
        <p class="label"><strong>Color</strong></p>
        <p>{{ tag!.color }}</p>
      </div>

      <div>
        <p class="label"><strong>Favorite</strong></p>
        <p>{{ tag!.favorite }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="profile-actions">
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editTag()">edit tag</button>
      </mat-card-content>
    </mat-card>

    <div class="flex-1"></div>

    <mat-card>
      <mat-card-content>
        <button
          mat-button
          [matMenuTriggerFor]="deleteConfirmation"
          color="warn"
        >
          Delete tag
        </button>

        <mat-menu #deleteConfirmation="matMenu">
          <button mat-menu-item (click)="deleteTag()">Confirm</button>
          <button mat-menu-item>Cancel</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="profile">
    <mat-card-title>Additional information</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Added on</strong></p>
        <p>{{ tag!.createdAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div>
        <p class="label"><strong>Last updated on</strong></p>
        <p>{{ tag!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>

      <div *ngIf="tag!.retiredAt">
        <p class="label"><strong>Last used on</strong></p>
        <p>{{ tag!.lastUsedAt | date: 'E, MMM d, y' }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
