<div *ngIf="client">
  <mat-card
    *ngFor="
      let contact of client!.contacts;
      index as i;
      trackBy: trackByContact
    "
    class="profile"
  >
    <mat-card-title>{{ contact.label }}</mat-card-title>

    <mat-card-content>
      <div>
        <p class="label"><strong>Name</strong></p>
        <p>{{ contact.name }}</p>
      </div>

      <div>
        <p class="label"><strong>Relationship to Client</strong></p>
        <p>{{ contact.relationshipToPerson }}</p>
      </div>

      <div>
        <p class="label"><strong>Phone number</strong></p>
        <p>{{ contact.phoneNumber || 'n/a' }}</p>
      </div>

      <div>
        <p class="label"><strong>Last updated on</strong></p>
        <p>{{ contact!.updatedAt | date: 'E, MMM d, y' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="client!.contacts.length === 0" class="profile">
    <mat-card-content>
      <div>
        <p><strong>None</strong></p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="profile-actions">
    <mat-card>
      <mat-card-content>
        <button mat-button (click)="editContacts()">
          edit client contacts
        </button>
      </mat-card-content>
    </mat-card>

    <div class="flex-1"></div>
  </div>
</div>
