<div class="side-margin-16 vertical-margin-8 flex-center">
  <button mat-icon-button (click)="findRequestForVolunteerService.prevDate()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="datepicker-button flex-center" style="flex-shrink: 0">
    <button mat-button (click)="selectDate(datepicker)">
      {{ displaySelectedDate() | async }}

      <input
        [matDatepicker]="myDatepickerContainer"
        [value]="selectedDate"
        (dateChange)="dateSelected($event)"
        style="display: none"
      />

      <mat-datepicker
        #myDatepickerContainer
        #datepicker="matDatepicker"
        touchUi
      ></mat-datepicker>
    </button>
  </div>

  <button mat-icon-button (click)="findRequestForVolunteerService.nextDate()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <div style="width: 100px"></div>

  <div class="flex-center" style="margin-right: 1.5rem">
    <mat-checkbox
      [checked]="findRequestForVolunteerService.unassignedOnly$ | async"
      (change)="toggleUnassignedOnly()"
      color="primary"
    >
      Unassigned only
    </mat-checkbox>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="viewMenu">Change view</button>

    <mat-menu #viewMenu="matMenu">
      <button mat-menu-item [routerLink]="['../month']">Month</button>
      <button mat-menu-item [routerLink]="['../week']">Week</button>
      <button mat-menu-item [routerLink]="['../day']">Day</button>
    </mat-menu>
  </div>
</div>

<div
  *ngIf="'find-request-for-volunteer' | swIsLoading | async; else loaded"
  class="flex-center"
  style="flex: 1"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #loaded>
  <mat-table
    [dataSource]="rideRequests"
    matSort
    matSortActive="distance"
    matSortDirection="desc"
    [trackBy]="trackBy"
    (matSortChange)="sortRideRequests()"
    swScrollPosition="find-request-for-volunteer"
    class="margin-24"
    style="margin-top: 0"
  >
    <!-- - Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef class="flex-_75">
        Select
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-_75">
        <mat-checkbox
          [checked]="
            findRequestForVolunteerService.isRideRequestSelected(row.uid)
          "
          (click)="findRequestForVolunteerService.stopEventPropagation($event)"
          (change)="findRequestForVolunteerService.requestSelected(row)"
          color="primary"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-2">
        Date
      </mat-header-cell>

      <mat-cell
        *matCellDef="let row"
        matTooltip="{{
          row.flexible
            ? 'Week of ' +
              (row.datetime | flexibleDatetime) +
              '. ' +
              row.flexibleSchedule
            : (row.datetime | date: 'fullDate')
        }}"
        [matTooltipShowDelay]="500"
        class="flex-2"
      >
        {{
          row.flexible
            ? (row.datetime | flexibleDatetime)
            : (row.datetime | date: 'shortDate')
        }}
        {{ row.recurringRideRequestId && '(R)' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="flex-_75"
        matTooltip="{{
          row.flexible
            ? row.flexibleSchedule
            : (row.datetime | date: 'shortTime')
        }}"
        [matTooltipShowDelay]="500"
      >
        {{ row.flexible ? 'flexible' : (row.datetime | date: 'shortTime') }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Distance
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <span
          class="truncate-text"
          matTooltip="{{ row.distance }}"
          [matTooltipShowDelay]="500"
        >
          {{ row.distance }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tag </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <span
          class="truncate-text"
          matTooltip="{{ row.category }}"
          [matTooltipShowDelay]="500"
        >
          {{ row.category }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-3">
        Client
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-3">
        <app-display-tags
          [label]="row.client.nameWithRetiredStatus"
          [tagIds]="row.client.tagIds"
          favoritesOnly
        >
        </app-display-tags>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="driver">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="flex-3">
        Volunteer
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="flex-3">
        <app-display-tags
          [label]="row.driver ? row.driver.nameWithRetiredStatus : 'none'"
          [tagIds]="row.driver?.tagIds"
          favoritesOnly
        >
        </app-display-tags>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="
        ['selected', 'date', 'time', 'distance', 'tag', 'client', 'driver'];
        sticky: true
      "
    ></mat-header-row>

    <mat-row
      *matRowDef="
        let row;
        columns: [
          'selected',
          'date',
          'time',
          'distance',
          'tag',
          'client',
          'driver'
        ]
      "
      (click)="
        navigateToPath($event, [
          '/dispatcher/ride-request',
          row.uid,
          'overview'
        ])
      "
      class="anchor-row"
    >
    </mat-row>
  </mat-table>
</ng-template>
